.footer
	background: #231f20
	margin: 0 0
	padding: 60px 0 15px 0
	position: relative
	&:before
		content: ''
		border-bottom: solid 1px #8e9093
		width: 100%
		height: 1px
		bottom: 80px
		position: absolute
.footer__content
	max-width: 1250px
	margin: 0 auto
	font-size: 16px
	padding-right: 125px
	padding-left: 45px
.footer__top__box
	position: relative
	p
		font-family: $t-1
		color: $blanco
	ul
		li
			font-family: $t-1
			color: #8e9093
			line-height: 40px
.footer__top__box--logo
	a
		img
			max-width: 165px
.footer__top__box--logo-movil
	display: none
.footer__top__box--iconos
	font-size: 18px
	text-align: right
	li:nth-child(1)
		display: inline-block
		border: solid 1px #a7a5a6
		border-radius: 30px
		width: 37px
		height: 37px
		margin-right: 15px
	li:nth-child(2)
		display: inline-block
		border: solid 1px #a7a5a6
		border-radius: 30px
		width: 37px
		height: 37px
		margin-right: 15px
	li:nth-child(3)
		display: inline-block
		border: solid 1px #a7a5a6
		border-radius: 30px
		width: 37px
		height: 37px
	li
		a
			padding-right: 10px
			color: #8e9093
			transition-duration: 0.3s
		a:hover
			color: $blanco
			
.footer__top__box--telefono
	position: absolute
	margin-left: 25px
	padding-top: 25px
	right: 0
	a
		font-size: 20px
		font-family: $t-1
		color: #8e9093
	&:before
		content: "\e91e"
		display: block
		font-family: icomoon
		font-size: 19px
		position: absolute
		color: #8e9093
		left: -32px

.footer__top
	padding-bottom: 82px
	display: flex
	justify-content: space-between
.footer__bottom
	display: flex
	justify-content: space-between
	font-family: $t-1
	color: #8e9093
.footer__top__box--reclamaciones
	display: flex
	position: absolute
	margin-top: 80px
	width: 240px
.footer__top__box--reclamaciones-img-libro
	max-width: 55px
	margin-right: 15px
.footer__top__box--reclamaciones-parrafo
	text-align: right
	// p
.footer__top__box--reclamaciones-enlace
	transition-duration: 0.3s
	color: #8e9093
	font-size: 16px
@media screen and (min-width: 1025px)		
	.footer__top__box--reclamaciones-enlace:hover
		color: $blanco
.footer__top__box--enlaces
	li
		a
			padding-right: 10px
			color: #8e9093
			transition-duration: 0.3s
@media screen and (min-width: 1025px)	
	.footer__top__box--enlaces
		li
			a:hover
				color: $blanco
.footer__bottom__box
	p
		margin-right: -62px
		a
			color: #8e9093
			transition-duration: 0.3s
		a:hover
			color: $blanco
.footer__top__box-content--iconos-movil
	display: none
.footer__bottom--firma-staff
	position: relative
	&:before
		content: "\e60e"
		display: block
		font-family: icomoon
		font-size: 13px
		position: absolute
		color: #8e9093
		right: -10px
		top: -7px
@media screen and (max-width: 1203px)
	.footer__bottom__box
		p
			margin-right: -77px
	.footer__top__box--mapa-de-sitio
		display: none
	.footer__top__box--usuarios
		ul
			li:nth-child(1)
				display: none
			li:nth-child(2)
				display: none
			li:nth-child(3)
				display: none
@media screen and (max-width: 1080px)
	.footer
		padding: 40px 0 15px 0
	.footer__top__box--logo
		display: none
	.footer__top__box--logo-movil
		width: 100%
		max-width: 1250px
		height: auto
		margin: 0 auto
		padding-bottom: 40px
		padding-right: 125px
		padding-left: 45px
		box-sizing: border-box
		display: block
		text-align: center
		a
			img
				max-width: 165px
				margin-left: 150px
@media screen and (max-width: 880px)
	.footer__top
		padding-bottom: 20px
		display: flex
		justify-content: center
	.footer__content
		width: 90%
		padding-right: 0
		padding-left: 0
	.footer__top__box--logo-movil
		padding-right: 0
		padding-left: 0
		a
			img
				margin-left: 0
	.footer__top__box-content--iconos
		display: none
	.footer__top__box
		margin-right: 50px
		margin-left: 50px
	.footer__bottom__box
		p
			margin-right: 0
			margin: 0 auto
	.footer__top__box-content--iconos-movil
		display: block
		font-size: 18px
		width: 240px
		padding: 0
		// margin: 0
		margin: 0 auto
		height: 100px
	.footer__top__box--telefono
		position: relative
		font-size: 20px
		font-family: $t-1
		color: #8e9093
		height: auto
		width: 240px
		margin: 0 auto
		text-align: center
		a
			margin-left: 20px

		&:before
			left: 35px
		
	.footer__top__box--reclamaciones
		height: 100px
		position: relative
		margin-top: 0
		width: 240px
		margin: 0 auto
		padding-top: 20px
	.footer__top__box--reclamaciones-img-libro
		position: relative
		margin-right: 10px
	.footer__top__box--reclamaciones-parrafo
		width: auto
	.footer__bottom
		flex-direction: column
		text-align: center
		padding-top: 50px
	.footer
		&:before
			bottom: 85px
	.footer__bottom--firma-staff
		max-width: 300px
		width: 100%
		margin: 0 auto
		padding-top: 20px
	.footer__bottom--firma-staff
		&:before
			right: 13px
			top: 13px
	.footer__top__box--reclamaciones-enlace
		font-size: 14px
@media screen and (max-width: 720px)
	.footer__top
		justify-content: space-between
		width: 90%
		margin: 0 auto
	.footer__top__box
		margin-right: 0
		margin-left: 0
	.footer__top__box-content--iconos-movil
		width: 90%
		margin: 0 auto
@media screen and (max-width: 575px)
	.footer__top
		flex-direction: column
	.footer__top__box--usuarios
		margin: 0 auto
		width: 100%
		text-align: center
	.footer__top__box-content--enlaces
		margin: 0 auto
		width: 100%
		text-align: center
		padding-top: 20px
	.footer__top__box--reclamaciones
		padding-top: 10px
	.footer__top__box--reclamaciones-img-libro
		max-width: auto
		img
			max-width: 100px
	.footer
		&:before
			bottom: 90px
	.footer__top__box--reclamaciones-parrafo
		font-size: 14px
	.footer__bottom--firma-staff
		font-size: 14px
		width: 250px
		&:before
			right: 3px
			top: 12px
	.footer__top__box--telefono
		padding-bottom: 20px
		padding-top: 20px
@media screen and (max-width: 418px)
	.footer
		&:before
			bottom: 107px
