.header-wrap
	position: relative
	height: 100px

// nuevo inicia
.header-content
	display: flex
	max-width: 1920px
	width: 100%
	margin: 0 auto
	background-color: $blanco
.header-logonew
	border-right: solid 1px #ededed
	width: 20%
	box-sizing: border-box
	display: flex
	align-items: center
	justify-content: flex-end
.header-nav
	width: 80%
	font-family: $t-1
	font-size: 14px
	color: $c-4
.header-nav__top
	border-bottom: solid 1px #ededed
	height: 50px
	display: flex
	align-items: center
	justify-content: space-between
	padding-right: 43px
	padding-left: 30px
	box-sizing: border-box
.header-logonew--img
	margin: 0
	padding-right: 40px
.header-nav__top__left
	display: flex
.header-nav__top__right
	ul
		display: flex
		li
			margin-left: 38px
		li:nth-child(1)
			color: $c-0
		li:nth-child(2)
			a
				padding-right: 15px
		li:nth-child(3)
			a
				position: relative
				&:before
					content: '\e91a'
					font-size: 13px
					font-family: $icomoon
					position: absolute
					margin-left: -20px
					font-weight: bold
					// color: $c-1
		li
			a
				text-decoration: none
.header-btn-activa
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 4px
	display: inline-block
	vertical-align: middle
	padding:  10px 15px 10px 15px
	transition-duration: 0.3s
@media screen and (min-width: 1025px)	
	.header-btn-activa:hover
		background-color: $c-1
		border-color: $c-1

.header-nav__bottom
	display: flex
	padding-left: 30px
	align-items: center
	justify-content: space-between
	height: 50px
.header-nav__bottom__left
	ul
		display: flex
		li
			margin-right: 38px
		li:nth-child(1)
			a
				color: $c-0
		li:nth-child(2)
			a
				color: $c-0
		li:nth-child(3)
			a
				color: $c-0
		li
			a
				text-decoration: none
				color: $c-4
.header-nav__bottom__right
	padding-right: 43px
	display: flex
	flex-direction: raw
	a
		margin-left: 10px

.header-nav--icono-face
	color: $c-0
	transition-duration: 0.3s
@media screen and (min-width: 1025px)	
	.header-nav--icono-face:hover
		color: $c-1
.header-nav--icono-lupa
	color: #0da9e1
	padding-right: 13px
.header-input
	border: none
	width: 200px
	color: $c-4
.header-enlace--nav-bottom
	position: relative
	transition: all .35s ease-in-out
	display: flex
	height: 53px
	&:before
		content: ""
		display: block
		position: absolute
		bottom: 0
		left: 0
		width: 0
		height: 5px
		width: 0%
		background: $c-0
		transition: all .35s ease-in-out
		z-index: 1
@media screen and (min-width: 1025px)
	.header-enlace--nav-bottom:hover
		text-decoration: inherit !important
		&:before
			width: 100%
.header-nav--enlace-solicita
	color: $c-4
	transition-duration: 0.3s
@media screen and (min-width: 1025px)
	.header-nav--enlace-solicita:hover
		color: $c-1
.header-nav--enlace-iniciar-sesion
	transition-duration: 0.3s
	color: $c-1
@media screen and (min-width: 1025px)
	.header-nav--enlace-iniciar-sesion:hover
		color: $c-0

// nuevo termina 


.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	// height: 100px
	z-index: 1000
	background: $blanco
	transition: all .2s linear
	border-bottom: solid 1px #ededed
		
.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	transition: all .2s linear

.header-fixed.scrolling
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	height: 100px
	.header-bg
		top: 0
	.header-link
		color: #8e9093
	.header-languages-select select
		color: #8e9093
	.header-languages-select:before
		color: $c-0
	.header-logo-desktop
		// opacity: 0
		// visibility: hidden
	.header-logo-scroll
		width: 80%
		opacity: 1
		visibility: visible

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	max-width: 1920px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box
	background-color: $blanco

.header-cnt-list
	display: flex
	align-items: center
	justify-content: flex-end

// header list
.header-list
	display: flex

	.header-item
		display: inline-block
		margin-right: 39px
		&:last-child
			margin-right: 0


	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: #8e9093
		font-size: 15px
		line-height: 15px
		font-family: $t-2
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		margin-top: 7px
		transition: all .35s ease-in-out
		&:before
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 2px
			background: $c-0
			transition: all .35s ease-in-out

	//hover
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%

	//active
	.header-link.active
		color: #8e9093
		text-decoration: inherit

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: #8e9093
		text-decoration: inherit


// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 80%
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -80%
	transition: all .3s ease-in-out
	// padding: 10px 20px 20px 20px
	box-sizing: border-box

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block
	


.menu-mobile-close, .menu-mobile-open
	background: $c-0
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-0
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 80%
	z-index: 1500
	transform: rotate(-90deg)

body.hecho
	overflow: hidden
	// pointer-events: none
	html
		overflow: hidden
		// pointer-events: none

.header__menu__link
	position: relative

.header__enlace__hover__submenu
	display: flex
	height: 53px

.header__submenu
	position: absolute
	top: 99%
	left: 50%
	background: $blanco
	z-index: -1
	transform: translateX(-50%)
	display: block !important
	width: 200px
	padding: 30px 20px 20px 20px
	box-sizing: border-box
	opacity: 0
	visibility: hidden
	li
		margin-right: 0 !important
		margin-bottom: 5px !important
		&:last-child
			margin-bottom: 0
		a
			display: block
			padding: 10px 0 !important	

.header__submenu.active
	opacity: 1
	visibility: visible
	z-index: 2000

.header__submenu__overlay
	display: block
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	&.active
		opacity: .5
		visibility: visible	
		z-index: 200
		transition: all .3s linear

.header__nav__session
	display: flex
	height: 49px
	position: relative
	&.active
		.header-nav--enlace-iniciar-sesion--perfil
			color: $c-0
		.header-nav--enlace-iniciar-sesion--perfil:before
			color: $c-0

.header__nav__session__menu
	position: absolute
	background: $blanco
	padding: 10px 15px
	box-sizing: border-box
	top: 100%
	display: block !important
	left: 50%
	width: 150px
	transform: translateX(-50%)
	box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.15);
	opacity: 0
	visibility: hidden
	z-index: -1
	&.active
		transition: all .25s ease-in-out
		opacity: 1
		visibility: visible
		z-index: 300
	li
		display: block
		margin: 0 !important
		padding: 0 !important
		box-sizing: border-box
		a
			display: block
			padding: 10px 0 !important
			font-size: 13px
			color: $c-4
			font-family: $t-1
			transition: all .3s linear
			&:hover 
				color: #fc8b11 !important

.header-nav--enlace-iniciar-sesion--perfil
	position: relative
	color: #fc8b11
	padding-left: 20px
	&:before
		content: '\e91a'
		font-family: 'icomoon'
		font-size: 12px
		color: #fc8b11
		position: absolute
		left: 0

.header--session--salir-last
	position: relative
	padding-left: 12px
	color: $c-1
	font-family: $t-1
	font-size: 14px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 1px
		background: $c-1

.header-nav--enlace-iniciar-sesion--user
	margin: 0
	font-family: $t-1
	font-size: 14px
	color: $c-1
	padding-left: 20px
	padding-right: 12px
	position: relative
	&:before
		content: '\e91a'
		font-family: 'icomoon'
		font-size: 12px
		color: $c-2
		position: absolute
		left: 0
		top: 0

@media screen and (max-width: 1299px)
	.header-wrap
		height: 60px
	
	.header-fixed
		height: 60px

	.header-content
		height: 100%

	.header-nav-top
		display: none

	.header-logonew
		max-width: 120px
		width: 100%
		border: none
		padding: 0

	.menu-mobile-close, .menu-mobile-open
		display: block
	.header-fixed.scrolling
		display: none
	.menu-sidebar-cnt
		flex-direction: column
		max-width: auto
		// padding-bottom: 40px
		height: 100vh
	.header-logo-content-movil
		display: flex
		border-bottom: solid 1px #ededed
	.header-logonew
		// border: solid 1px red
		border-right: solid 1px #ededed
		max-width: 100%
		width: 30%
		justify-content: center
		// padding-bottom: 10px
		padding: 10px 20px 10px 20px
	.header-logonew--img
		margin: 0
		padding-right: 0
		min-width: 120px
	.header__iniciar-sesion-movil
		width: 70%
		display: flex
		align-items: center
		justify-content: flex-end
		padding: 0
		padding-right: 30px
	.header-nav--enlace-iniciar-sesion
		margin: 0
		position: relative
		font-family: $t-1
		color: $c-1
		&:before
			content: '\e91a'
			font-size: 13px
			font-family: $icomoon
			position: absolute
			margin-left: -25px
			font-weight: bold
	// .header-iniciar-sesion:hover
	// 	color: $c-0
	// 	&:after
	// 		color: $c-0
	.header-nav
		width: 100%
		font-family: $t-1
		font-size: 14px
		color: $c-4
	.header-nav__top
		justify-content: flex-end
		padding-right: 30px
	// .header-nav__bottom
	// 	height: auto
	// 	padding: 0
	.header-input
		width: 185px
		padding-top: 10px
		padding-bottom: 10px
	.header-nav--icono-lupa
		// margin-top: 8px
		padding-right: 13px
	.header-nav__top__left
		align-items: center
	.header-nav__bottom
		display: inline-block
		text-align: right
		padding: 0
		height: auto
		width: 100%
	.header-nav--ul-movil
		width: 100%
		padding-bottom: 10px
		li
			margin-right: 30px
			line-height: 40px
			a
				color: $c-4
		li:nth-child(1)
			a
				color: $c-0
		li:nth-child(2)
			a
				color: $c-0
		li:nth-child(3)
			a
				color: $c-0
	.header-nav--ul2-movil
		border-top: solid 1px #ededed
		padding-top: 10px
		li
			margin-right: 30px
			line-height: 40px
		li:nth-child(3)
			margin-top: 10px
			a
				line-height: 0px
				color: $blanco
				padding-top: 17px
				padding-bottom: 17px
		li:nth-child(4)
			margin-top: 10px
			a
				font-size: 25px
				display: inline-block
				margin-left: 10px
	.header-enlace--nav-bottom
		position: relative
		transition: all .35s ease-in-out
		&:before
			display: none
		&:after
			content: ""
			display: block
			position: absolute
			top: 35px
			right: 0
			height: 3px
			width: 0
			background: $c-0
			transition: all .35s ease-in-out
			z-index: 1

	.header-enlace--nav-bottom
		display: block
		height: auto
		a
			height: 40px
			display: block

	.header__submenu__resp
		li
			margin-right: 10px
	
	.header__submenu__resp__content
		display: none

@media screen and (min-width: 1025px)	
	.header-enlace--nav-bottom:hover
		text-decoration: inherit !important
		&:after
			width: 12%
@media screen and (max-width: 575px)
	.header-nav--enlace-iniciar-sesion
		width: 50%
		margin: 0
		padding: 0
	.header-logonew
		width: 55%
	.header-logonew--img
		padding-left: 10px
		padding-right: 10px
	.header-nav__top
		padding-right: 15px