footer.footer
	.footer__content
		.footer__top__box--logo-movil
			a(href='#')
					img(src=`${STATIC_URL}img/img-logo-gp-footer.png`, alt="")
		.footer__top
			.footer__top__box.footer__top__box--logo
				a(href='#')
					img(src=`${STATIC_URL}img/img-logo-gp-footer.png`, alt="")
			.footer__top__box.footer__top__box--mapa-de-sitio
				p
					| MAPA DE SITIO
				ul.footer__top__box--enlaces
					li
						a(href='#') Promociones
					li
						a(href='#') Membresías
					li
						a(href='#') Internacional
					li
						a(href='#') Elite
					li
						a(href='#') Corporativo
			.footer__top__box.footer__top__box--usuarios
				p
					| USUARIOS
				ul.footer__top__box--enlaces
					li
						a(href='#') Activa tu código
					li
						a(href='#') Iniciar sesión
					li
						a(href='#') Solicita tu membresía
					li
						a(href='#') Preguntas frecuentes
					li
						a(href='#') Términos y condiciones
			.footer__top__box.footer__top__box-content--enlaces
				p
					| ESTABLECIMIENTOS
				ul.footer__top__box--enlaces
					li
						a(href='#') Consultar membresía
					li
						a(href='#') Afilia tu establecimiento
					li
						a(href='#') Inicia sesión como establecimiento
			.footer__top__box.footer__top__box-content--iconos
				ul.footer__top__box--iconos
					li
							a(href='#').icon-05
					li
							a(href='#').icon-04
					li
							a(href='#').icon-03
				.footer__top__box--telefono
					a (511) 512 - 3100
				.footer__top__box--reclamaciones
					.footer__top__box--reclamaciones-img-libro
						a(href='#')
							img(src=`${STATIC_URL}img/libro_reclamaciones.png`, alt="")
					.footer__top__box--reclamaciones-parrafo
						p
							a.footer__top__box--reclamaciones-enlace(href='#') Libro de reclamaciones
		.footer__top__box-content--iconos-movil
			.footer__top__box--telefono
				a (511) 512 - 3100
			.footer__top__box--reclamaciones
				.footer__top__box--reclamaciones-img-libro
					a(href='#')
						img(src=`${STATIC_URL}img/libro_reclamaciones.png`, alt="")
				.footer__top__box--reclamaciones-parrafo
					p
						a.footer__top__box--reclamaciones-enlace(href='#') Libro de reclamaciones	
		.footer__bottom
			.footer__bottom__box
				p
					| © 2017  GlobalPass. Todos los derechos reservados.
			.footer__bottom__box
				p.footer__bottom--firma-staff
					| Diseño de páginas web: 
					a(href='https://www.staffdigital.pe/', target='_blank') Staff Digital