.header-wrap
	.header-fixed
		//- .header-bg
		.header-content
			.header-logonew
				a.header-logonew--img(href='#')
					img(src=`${STATIC_URL}img/img-logo-gp-header.jpg`, alt="")
			.header-nav.header-nav-top
				.header-nav__top
					.header-nav__top__left
						.header-nav--icono-lupa.icon-09
						input.header-input(type="", name="", placeholder="Buscar el descuento ideal", class="validate[required]")
					.header-nav__top__right
						ul
							li Nº DE USUARIOS 
								strong 5872
							li 
								a.header-nav--enlace-solicita(href='#') SOLICITA TU MEMBRESÍA
							li 
								a.header-nav--enlace-iniciar-sesion(href='#') INICIAR SESIÓN
							li.header__nav__session
								a.header-nav--enlace-iniciar-sesion--perfil(href="#") HOLA, YOSWA
								ul.header__nav__session__menu
									li
										a(href="") VER PERFIL
									li
										a(href="") CERRAR SESIÓN
							li 
								a.btn-blue.header-btn-activa(href='') ACTIVA TU CÓDIGO
				.header-nav__bottom
					.header-nav__bottom__left
						ul
							li.header-enlace--nav-bottom.header__enlace__hover__submenu
								a.header__menu__link(href='#') PROMOCIONES
								ul.header__submenu
									li
										a(href="") CATEGORIA 1
									li
										a(href="") CATEGORIA 2
									li
										a(href="") CATEGORIA 3
									li
										a(href="") CATEGORIA 4
									li
										a(href="") CATEGORIA 5
									li
										a(href="") CATEGORIA 6
							li.header-enlace--nav-bottom
								a(href='#') INTERNACIONAL
							li.header-enlace--nav-bottom
								a(href='#') ELITE
							li.header-enlace--nav-bottom
								a(href='#') CORPORATIVO
							li.header-enlace--nav-bottom
								a(href='#') CONTACTO
							li.header-enlace--nav-bottom
								a(href='#') AFILIA TU ESTABLECIMIENTO
					.header-nav__bottom__right
						a(href='#') 
							.header-nav--icono-face.icon-05
						a(href='#') 
							.header-nav--icono-face.icon-04
						a(href='#') 
							.header-nav--icono-face.icon-03
	
.header__submenu__overlay
//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt
		.header-logo-content-movil
			.header-logonew
				a.header-logonew--img(href='#')
						img(src=`${STATIC_URL}img/img-logo-gp-header.jpg`, alt="")
			.header__iniciar-sesion-movil
				a.header-nav--enlace-iniciar-sesion(href='#') INICIAR SESIÓN
				.header__iniciar-sesion-user--wrap
					a.header-nav--enlace-iniciar-sesion--user(href='#') HOLA, YOSWA
					a.header--session--salir-last(href="") SALIR
		.header-nav
			.header-nav__top
				.header-nav__top__left
					.header-nav--icono-lupa.icon-09
					input.header-input(type="", name="", placeholder="Buscar el descuento ideal", class="validate[required]")
			.header-nav__bottom
				ul.header-nav--ul-movil
					li.header-enlace--nav-bottom
						a.header__submenu__acordion(href='#') PROMOCIONES
						ul.header__submenu__resp.header__submenu__resp__content
							li
								a(href="") CATEGORIA 1
							li
								a(href="") CATEGORIA 2
							li
								a(href="") CATEGORIA 3
							li
								a(href="") CATEGORIA 4
							li
								a(href="") CATEGORIA 5
							li
								a(href="") CATEGORIA 6
					li.header-enlace--nav-bottom
						a(href='#') INTERNACIONAL
					li.header-enlace--nav-bottom
						a(href='#') ELITE
					li.header-enlace--nav-bottom
						a(href='#') CORPORATIVO
					li.header-enlace--nav-bottom
						a(href='#') CONTACTO
					li.header-enlace--nav-bottom
						a(href='#') AFILIA TU ESTABLECIMIENTO
				ul.header-nav--ul2-movil
					li Nº DE USUARIOS 
							strong 5872
					li 
						a.header-nav--enlace-solicita(href='#') SOLICITA TU MEMBRESÍA
					li 
						a.btn-blue.header-btn-activa(href='') ACTIVA TU CÓDIGO
					li 
						a(href='#') 
								.header-nav--icono-face.icon-05
						a(href='#') 
							.header-nav--icono-face.icon-04
						a(href='#') 
							.header-nav--icono-face.icon-03