extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'activacion form'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.activacion.activacion__tarjeta
		.activacion__content
			.activacion__img-content.activacion-form--padding-right-cero
				img.activacion__img--jpg.activacion-form--img-jpg(src=`${STATIC_URL}img/img-activacion2-form.jpg`, width="", height="", alt="")
			form#afiliate__form__validate.activacion__form
				.titulo-form 
					p
						| Activación de tu tarjeta
				.afiliate__ul-content
					//- message--alert
					.box-message--alert
						span.box-message__content.box-message--green
							.box-message--ico1
							.box-message ¡El código de la tarjeta es válido!
					ul
						li.input-one-content
							label.input-one__label Nombres y Apellidos
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label DNI o pasaporte
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Teléfono
							input.input-one.soloNumber(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Empresa
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Contraseña
							input.input-one(type="password" name="psw", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Confirmar contraseña*
							input.input-one(type="password" name="psw", class="validate[required]")
							span.input-one--span
				.solicita-tarjeta__botones-group.afiliate__botones-group
					ul.afiliate--ul-botones
						li
							button.btn-forward.btn-blue.btn-forward--hover(href='') registrar
								.btn--before
				
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
			$("#afiliate__form").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});

			
		});