extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'activacion'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.activacion
		.activacion__content
			.activacion__img-content
				img.activacion__img--jpg(src=`${STATIC_URL}img/img-activacion-form.jpg`, width="", height="", alt="")
			form#afiliate__form.activacion__form
				.titulo-form 
					p
						| Activación de tu tarjeta
						strong
							| Ingrese aquí el código enviado junto a su tarjeta.
							span.activacion--display-block Los Códigos presentan mayúsculas y minúsculas. 
				.mi-cuenta__ul-content 
					ul
						.input-one-content.input--margin-top.input-one-content--padding-bottom.activacion--max-width
							input.input-two(name='', type='text', placeholder='Escribe tu código', class="validate[required,custom[onlyLetterNumber]]")
							span
								button.input-two__btn-span.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') verificar
									.btn-general--before.activacion__boton


				.activacion__ul
					ul.parrafo-form
						li Si usted aún no cuenta con un código, Solicite su tarjeta 
							a.activacion--color-orange(href='#') aquí.
			
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {

			$("#afiliate__form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true,
				"onlyNumber": {
						"regex": /^[0-9\ ]+$/,
						"alertText": "* Numbers only"
				},
				onValidationComplete: function(form, status){
					console.log(form)
					console.log(status)
				}  
			});
		});