extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'afiliate'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.afiliate__content
			form#afiliate__form__validate.afiliate__form
				.titulo-form.afiliate--text-center 
					p
						| Afiliate a nuestra red de establecimientos
						strong
							| Ingresa tus datos y nos contactaremos contigo inmediatamente
				.afiliate__ul-content 
					ul
						li.input-one-content
							label.input-one__label Nombre de establecimiento
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Nombre de contacto
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Teléfono
							input.input-one.soloNumber(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Rubro
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Mensaje
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
				.solicita-tarjeta__botones-group.afiliate__botones-group
					ul.afiliate--ul-botones
						li
							button.btn-forward.btn-blue.btn-forward--hover(href='') enviar
								.btn--before
			
			.afiliate__img(style="background-image: url('/assets/img/img-afiliate-form.jpg')")
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});