extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'contacto'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content

	
	section.contacto
		.contacto__wrap
			.contacto__info
				.contacto__info__box
					.contacto__info__box__title
						h2 Escríbenos y nos contactaremos 
					.contacto__info__box__parrafo
						p Si deseas realizar alguna consulta, sugerencia o duda,  escríbenos y te responderemos en el más breve plazo.
					.contacto__info__form
						form#afiliate__form__validate
							.contacto__input
								.input-one-content
									input.input-three(name='', type='',class="validate[required]" placeholder='Nombres y Apellidos')
									span.input-one--span
							.contacto__input.contacto__dos
								.input__box.contacto--padding-bottom
									.input-one-content
										input.input-three(name='',class="validate[required]" type='', placeholder='Email')
										span.input-one--span
								.input__box
									.input-one-content
										input.input-three.soloNumber(name='',class="validate[required]" type='', placeholder='Teléfono')
										span.input-one--span
							.contacto__input
								//- .input__text__area
								//- 	textarea(placeholder='Mensaje') 
								.input-one-content
										input.input-three(name='',class="validate[required]" type='', placeholder='Mensaje')
										span.input-one--span
							.contacto__button 
								button.btn-forward.btn-blue.btn-forward--hover ingresar
									.btn--before
				.form__datos
					.form__datos__direcciones
						.form__text
							.form__icono
								span.icon-12
							.form__text__dato
								h3 (511) 512-3100
						.form__text
							.form__icono
								span.icon-13
							.form__text__dato
								h3 ejuan@globalpass.com.pe
						.form__text.form__texto--datos
							.form__icono
								span.icon-pin
							.form__direccion
								h3 Calle Rodolfo Beltrán 134 Urb. Santa 
								h3 Catalina, La Victoria - Lima 13 - Perú
						.form__redes
							ul.form__redes__iconos
								li.form__item__text
									h3 Síguenos en
								li.form__item__icon
									a(href="")
										span.icon-05

								li.form__item__icon
									a(href="")
										span.icon-04.

								li.form__item__icon
									a(href="")
										span.icon-03


	section.mapcontacto
		.cnt-map
			.abrir-map Abrir mapa
			.box-map
				#google-maplima.map
				.btn-azul.cerrar-map cerrar mapa
						
//- js
append scripts
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			$('.contc-info').eq(0).addClass('active');
			$('.contact-tabs a').click(function(e) {
				e.preventDefault();
				$('.contact-tabs a').removeClass('active');
				$(this).addClass('active');
				var dataTab = $(this).attr('data-tab');
				$('.contc-info').removeClass('active');
				$('.contc-info[id="'+dataTab+'"]').addClass('active');
			});
			$("#afiliate__form__validate").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true,
				"onlyNumber": {
						"regex": /^[0-9\ ]+$/,
						"alertText": "* Numbers only"
				},
				onValidationComplete: function(form, status){
					console.log(form)
					console.log(status)
				}  
			});

			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"{{STATIC_URL}}img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});
		});
