extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'enviado'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.section-enviado(style=`background-image: url('${STATIC_URL}img/img-bg-enviado.jpg')`)
		.enviado-content
			h1.enviado--h1 Mensaje enviado.
			h2.enviado--h2 Continúa navegando o visita nuestras promociones.
			button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') Ver promociones
				.btn-general--before

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})