extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'error'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.section-error(style=`background-image: url('${STATIC_URL}img/img-bg-error.jpg')`)
		.error-content
			h1.error--h1 Lo sentimos,
				strong esta página no existe.
			h2.error--h2 Regresa a nuestra página de inicio o mira nuestras promociones.
			button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') Ver promociones
				.btn-general--before
//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})