extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/select2/select2.min.css`)
	link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

//- body classs
block vars
	- var title = 'home'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.banner__home
		ul.banner__home__slider
			li.banner__slider__item(style=`background-image: url(${STATIC_URL}img/background-banner-principal.png)`)
				.banner__content
					.banner__wrap
						.banner__slider__title
							h2 Encuentra el descuento ideal
						.banner__slider__subtitule
							h3 Hasta 65% de dscto. en turismo, belleza y salud, restaurantes y bodas
						.banner__form__block
							form
								ul.banner__form__block__list
									li.banner__form__select--line--one
										.banner__form__select
											select(name="", class="select--select2--image")
												option(value="chile") Chile
												option(value="colombia") Colombia
												option(value="peru") Perú
									li.banner__form__select--line--one
										.banner__form__select
											select(name="", class="select--select2")
												option(value="ciudad") Ciudad
												option(value="ciudad") Ciudad
												option(value="ciudad") Ciudad
									li.banner__form__select--line--one
										.banner__form__select
											select(name="", class="select--select2")
												option(value="categoria") Categoria
												option(value="categoria") Categoria
												option(value="categoria") Categoria
									li.banner__form__select--line--last
										a.btn-forward.btn-orange.btn-forward--hover.btn--padding-left(href='') Buscar
											.btn--after-buscar
		.banner__home--clone

	section.productos__carrousel
		.productos__carrousel__wrap
			ul.productos__box__item
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
				li.producto__item
					a.promociones__item(href="#")
						.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
						.promociones__item__content
							//- .promociones__item__discount--text
							//- .promociones__item__discount--offer
							.promociones__item__discount.promociones__item__discount--percentage
								.promociones__item__discount__logo
									img(src=`${STATIC_URL}img/item-logo.png`, alt="")
								.promociones__item__discount__promo 35%
							.promociones__item__info
								.promociones__item__title
									h3 Posadas del inca Yucay
								.promociones__item__text
									p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
								.button__content-home
									span.button__promocion-home.btn-orange LIMA - PERÚ
	section.promocion
		.promocion__wrapp
			.promocion__title
				.promocion__title__box
					h2 Promociones destacadas
			.promocion__content__item
				ul.promocion__box__item
					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ
					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ

					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ

					li.promocion__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.button__content-home
										span.button__promocion-home.btn-orange LIMA - PERÚ
			.promocion__button
				.promocion__general
					.promocion__g__btn
						h3 Más descuentos aquí
						.btn__circule

			.promocion__banner
				.promocion__banner__publicidad(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)
	section.membresia__activa
		.promocion__wrapp
			.membresia__activa__wrap
				.membresia__activa__box
					.membresia__activa__item
						.membresia__bgc(style=`background-image: url(${STATIC_URL}img/membresia-bgc.png)`)
							.membresia__bgc__icon
								img(src=`${STATIC_URL}img/membresia-icon1.png`, alt="")
							.membresia__bgc__text
								h3 Ingrese tu código y comienza a disfrutar de nuestros beneficios
							.membresia__bgc__buttont
								a(href="")
									.promocion__general
										.promocion__g__btn
											h3 Más descuentos aquí
											.btn__circule
					.membresia__activa__item
						.membresia__bgc(style=`background-image: url(${STATIC_URL}img/membresia-bgc1.png)`)
							.membresia__bgc__icon
								img(src=`${STATIC_URL}img/membresia-icon2.png`, alt="")
							.membresia__bgc__text
								h3 ¡Inicia sesión, sube y administra todas tus promociones!
							.membresia__bgc__buttont
								a(href="")
									.promocion__general
										.promocion__g__btn
											h3 Más descuentos aquí
											.btn__circule
					.membresia__activa__item
						.membresia__bgc(style=`background-image: url(${STATIC_URL}img/membresia-bgc3.png)`)
							.membresia__bgc__icon
								img(src=`${STATIC_URL}img/membresia-icon3.png`, alt="")
							.membresia__bgc__text
								h3 Hasta 50% de descuento en muchos establecimientos
							.membresia__bgc__buttont
								a(href="")
									.promocion__general
										.promocion__g__btn
											h3 Más descuentos aquí
											.btn__circule
			.promocion__banner
				.promocion__banner__publicidad(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)
	section.marcas__drawing
		.drawing-container#drawing-container
		//- .drawing-container__item(style=`background-image: url(${STATIC_URL}img/a.png)`)
		//- .drawing-container__move#rrr
		.drawing__responsive__img
			.drawing__reponsive__items
				.drawing__banner__card(style=`background-image: url('${STATIC_URL}img/tarjeta-1.jpg')`)
				.drawing__banner__card(style=`background-image: url('${STATIC_URL}img/tarjeta-2.jpg')`)
					
	section.slider__membresia__logos.home-slider-membresia--overflow
		.slider__membresia__wrapp__content
			.slider__membresia
				h2 Marcas afiliadas
			ul.slider__items__logos
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos2.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos3.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos4.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos5.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos6.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos7.jpg`)
				li.slider__items__img
					img(src=`${STATIC_URL}img/item-slider-logos7.jpg`)

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.js`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src=`../${STATIC_URL}js/drawing.js`)
	script(src=`${STATIC_URL}js/select2/select2.full.js`)
	script.
		$(()=>{

			$('.banner__form__block').clone().appendTo('.banner__home--clone').removeClass('banner__form__block').addClass('banner__form__block__responsive');
			
			
			if($(window).width()<768){
				$('.banner__form__block').remove();
			}

			function format (option) {
				console.log(option);
				if (!option.id) { return option.text; }
				var ob = option.text + '<img src="./assets/img/proximamente.png" />';
				return ob;
			};

			$(".select--select2--image").select2({
				allowClear: false,
				templateResult: format,
				escapeMarkup: function format(m) {
					return m;
				}
			});

			$(".select--select2").select2();

			//code here ------
			$('.productos__box__item').slick({
				arrows: true,
				dots: false,
				infinite: true,
				autoplay: false,
				slidesToShow: 4,
				nextText: '',
				prevText: '',
				slidesToScroll: 4,
				responsive: [
					{
					breakpoint: 980,
					settings: {
						slidesToShow: 3,
						speed: 1000,
						slidesToScroll: 1
						}
					},
					{
					breakpoint: 780,
					settings: {
						slidesToShow: 2,
						speed: 800,
						slidesToScroll: 1
						}
					},
					{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						speed: 750,
						slidesToScroll: 1
						}
					},
					

				]
			});
			$('.slider__items__logos').slick({
				arrows: true,
				dots: false,
				infinite: true,
				autoplay: false,
				slidesToShow: 7,
				nextText: '',
				prevText: '',
				slidesToScroll: 4,
				responsive: [
					{
					breakpoint: 980,
					settings: {
						slidesToShow: 4,
						speed: 1000,
						slidesToScroll: 1,
						}
					},
					{
					breakpoint: 780,
					settings: {
						slidesToShow: 3,
						speed: 800,
						slidesToScroll: 1,
						}
					},
					{
					breakpoint: 480,
					settings: {
						slidesToShow: 2,
						speed: 750,
						slidesToScroll: 1,
						}
					},
				]
			});
			drawing.init({
				container: $('#drawing-container'),
				imgLeft: './assets/img/AZUL.jpg',
				imgRight: './assets/img/NEGRO.jpg',
				drag: $('.drawing-container__move'),
			})
		})