extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'Libro de Reclamaciones'
	- var bodyClass = 'class'
//- ---

block content
	//- Contenido
	section.b42
		main.b42Main
			.b42__title
				h2 Libro de Reclamaciones
			.b42Form
				form#b42FormLibRec(action='')
					.b42Wrap
						.b42BoxItem
							.b42Subtitle
								h3 Identificación del consumidor reclamante
							.b42Campos
								ul
									li.b42InputTwo
										.g-input
											input(type='text', class='validate[required]', placeholder='Nombre')
										.g-input
											input(type='text', class='validate[required]', placeholder='Apellido')
									li.b42InputTwo
										.g-input
											input(type='text', class='validate[required,custom[email]]', placeholder='Email')
										.g-input
											input(type='text', class='validate[required]', placeholder='Teléfono')
									li.b42InputTwo
										.g-input.g-select
											select(class='validate[required]')
												option(value='') Documento de identidad
												option(value='') RUC
												option(value='') Licencia3
										.g-input
											input(type='text', class='validate[required]', placeholder='')
									li
										.g-input
											input(type='text', class='validate[required]', placeholder='Padre o Madre (nombre del padre o madre para los casos de menores de edad)')
						.b42BoxItem
							.b42Subtitle
								h3 Identificación del bien contratado
							.b42Campos
								ul
									li.b42InputTwo
										.g-input.g-select
											select(class='validate[required]')
												option(value='') Seleccione
												option(value='') opcion1
												option(value='') opcion2
									li
										.g-input
											input(type='text', class='validate[required]', placeholder='Monto de reclamado')
									li
										.g-input
											textarea(class='validate[required]', placeholder='Descripcion')
						.b42BoxItem
							.b42Subtitle
								h3 Detalle de la reclamación y pedido del consumidor
							.b42Campos
								ul
									li.b42InputTwo
										.g-input.g-select
											select(class='validate[required]')
												option(value='') Seleccione
												option(value='') opcion1
												option(value='') opcion2
									li
										.g-input
											textarea(class='validate[required]', placeholder='Detalle')
									li
										.g-input
											textarea(class='validate[required]', placeholder='Pedido')
					.b42Foot
						.b42Text
							p
								strong RECLAMO:
								| Disconformidad relacionada a los productos y servicios.
							p
								strong QUEJA:
								| Disconformidad no relacionada a los productos o servicios o malestar 
						.b42CntBtns
							.b42BtnItem
								a.btn-orange.btn-filtro(href='') Limpiar
							.b42BtnItem
								button.btn-orange.btn-filtro(href='') Enviar
								

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})