extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'membresia'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.membresia
		.membresia__content
			//- .activacion__img(style="background-image: url('/assets/img/img-activacion-form.jpg')")
			.activacion__img-content.membresia__img-tarjeta
				img.activacion__img--jpg.membresia--img-tarjeta(src=`${STATIC_URL}img/img-activacion-form.jpg`, width="", height="", alt="")
			form.activacion__form#activacionForm
				.titulo-form 
					p
						| Consultar membresía
						strong
							| Ingrese aquí el código enviado junto a su tarjeta. Los Códigos presentan mayúsculas y minúsculas.
				.mi-cuenta__ul-content 
					ul
						.input-one-content.input--margin-top.input-one-content--padding-bottom.activacion--max-width
							input.input-two(name='', type='', placeholder='Escribe tu código' class="validate[required]")
							span
								button.input-two__btn-span.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') verificar
									.btn-general--before
					message--alert
					.box-message--alert
						span.box-message__content.box-message--red
							.box-message--ico2
							.box-message ¡El código de la tarjeta es inválido!
					//- message--alert
					.box-message--alert
						span.box-message__content.box-message--green
							.box-message--ico1
							.box-message ¡El código de la tarjeta es válido!
					.membresia__datos.membresia--padding-bottom
						p
							| Nombre: 
							strong Yoswa Gómez
						p
							| Documento de Identidad:  
							strong 78920202

							//- span.activacion--mensaje-red
							//- 	¡El código de la tarjeta es inválido!
							
												
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("#activacionForm").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true,
				"onlyNumber": {
						"regex": /^[0-9\ ]+$/,
						"alertText": "* Numbers only"
				},
				onValidationComplete: function(form, status){
					console.log(form)
					console.log(status)
				}  
			});
			//- k
			//- var formBox = $(".contac__input input, .contac__input textarea")
			var formBox = $(".input-one-content input")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});
		});


	//- script.
	//- 	$(function() {
	//- 		$('.mi-cuenta__form').validationEngine({
	//- 			promptPosition: "topLeft",
	//- 			scroll: false
	//- 		});
	//- 		$('.contc-info').eq(0).addClass('active');
	//- 		$('.contact-tabs a').click(function(e) {
	//- 			e.preventDefault();
	//- 			$('.contact-tabs a').removeClass('active');
	//- 			$(this).addClass('active');
	//- 			var dataTab = $(this).attr('data-tab');
	//- 			$('.contc-info').removeClass('active');
	//- 			$('.contc-info[id="'+dataTab+'"]').addClass('active');
	//- 		});