extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'mi cuenta contraseña'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta-registro
		.mi-cuenta-registro__content
			.mi-cuenta-registro--titulo-content
				.titulo2-form.mi-cuenta-registro--text-center
					p
						| Mi cuenta
			form#afiliate__form__validate.mi-cuenta-registro__form
				.mi-cuenta-registro__box-content
					.mi-cuenta-contrasena__box
						.mi-cuenta-registro--titulo-content
							.titulo-form
								p.mi-cuenta-registro--color-blue
									| Cambiar contraseña
						ul
							li.input-one-content 
								a.input-one__label2 Contraseña actual*
								input.input-three(name='', type='password', placeholder='*************' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-contrasena__box
						.mi-cuenta-registro--titulo-content
						ul
							li.input-one-content 
								a.input-one__label2 Nueva Contraseña*
								input.input-three(name='', type='password', placeholder='*************' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-contrasena__box
						.mi-cuenta-registro--titulo-content
						ul
							li.input-one-content 
								a.input-one__label2 Repetir contraseña*
								input.input-three(name='', type='password', placeholder='*************' class="validate[required]")
								span.input-one--span2
				.mi-cuenta-contrasena__botones-box.mi-cuenta-registro--margin-top
					a.btn-general.btn-white.btn-general--after--hover.btn-general--padding-left.mi-cuenta-contrasena--margin-right(href='') volver a mi cuenta
						.btn-general--after
					button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right.mi-cuenta-contrasena--margin-top(href='') guardar cambios
						.btn-general--before
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});
