extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'mi cuenta registro'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta-registro
		.mi-cuenta-registro__content
			.mi-cuenta-registro--titulo-content
				.titulo2-form.mi-cuenta-registro--text-center
					p
						| Mi cuenta
			form.mi-cuenta-registro__form
				.mi-cuenta-registro__box-content
					.mi-cuenta-registro__box
						.mi-cuenta-registro--titulo-content
							.titulo-form
								p.mi-cuenta-registro--color-blue
									| Datos Personales
						ul
							li.input-one-content 
								a.input-one__label2 Nombres*
								input.input-three(name='', type='', placeholder='Yoswa María' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Apellido Materno*
								input.input-three(name='', type='', placeholder='Gomez' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Nº de Documento*
								input.input-three.soloNumber(name='', type='', placeholder='725 20202' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Correo electrónico
								input.input-three(name='', type='', placeholder='yoswa@mipag.com' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-registro__box
						.mi-cuenta-registro--titulo-content
						ul
							li.input-one-content 
								a.input-one__label2 Apellido Paterno*
								input.input-three(name='', type='', placeholder='Gomez' class="validate[required]")
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top
								a.input-one__label2 Tipo de documento* 
								.input-select.n-12
									.r-input
										select(name='')
											option(value='') DNI
											option(value='1') Pasaporte
											option(value='2') Otro
								//- a.input-one__label2 Tipo de documento*
								//- select
								//- 	option(value='dni') DNI
								//- 	option(value='pasaporte') PASAPORTE
								span.input-one--span2
							li.input-one-content.mi-cuenta-registro--margin-top 
								a.input-one__label2 Teléfono
								input.input-three.soloNumber(name='', type='', placeholder='982 366 532' class="validate[required]")
								span.input-one--span2
					.mi-cuenta-registro__box2
						img.mi-cuenta-registro__img-banner(src=`${STATIC_URL}img/img-banner-mi-cuenta.jpg` alt="")
				.mi-cuenta-registro__botones-content.mi-cuenta-registro--margin-top
					a.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right.mi-cuenta-contrasena--margin-right(href='') guardar cambios
						.btn-general--before
					a.btn-general.btn-white(href='') cambiar contraseña
				
//- js
append scripts 
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validation/jquery.validationEngine.js`)

	script.
		$(function() {
			//- k
			//- var formBox = $(".contac__input input, .contac__input textarea")
			var formBox = $(".input-one-content input")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});
		});


	//- script.
	//- 	$(function() {
	//- 		$('.mi-cuenta__form').validationEngine({
	//- 			promptPosition: "topLeft",
	//- 			scroll: false
	//- 		});
	//- 		$('.contc-info').eq(0).addClass('active');
	//- 		$('.contact-tabs a').click(function(e) {
	//- 			e.preventDefault();
	//- 			$('.contact-tabs a').removeClass('active');
	//- 			$(this).addClass('active');
	//- 			var dataTab = $(this).attr('data-tab');
	//- 			$('.contc-info').removeClass('active');
	//- 			$('.contc-info[id="'+dataTab+'"]').addClass('active');
	//- 		});