extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'mi cuenta'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.mi-cuenta__content
			.mi-cuenta__img(style="background-image: url('/assets/img/img-girl-form.jpg')")
			form#afiliate__form__validate.mi-cuenta__form(action='', name='')
				.titulo-form 
					p
						| Mi cuenta
						//- strong
						//- 	| Ingrese aquí el código enviado junto a su tarjeta.
				.mi-cuenta__ul-content.mi-cuenta--max-width 
					ul
						li.input-one-content.input--margin-top
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content.input--margin-top
							label.input-one__label Contraseña*
							input.input-one(type="password" name="psw", class="validate[required]")
							span.input-one--span
				
				.input-checkbox
					ul
						li.general__input.general__input--check--radio.general__input--checkbox
							.general__input__inside
								input#check1(type='checkbox')
								label.general__input--check--radio--label(for='check1')
									.general__input__inside__container
										.general__input__figure
										//- .general__input__text Checkbox
						//- li
						//- 	input(name='', type='checkbox')
						li Guardar mis datos
						a.link-reset(href="/restablecer-contasena.html") ¿Has olvidado tu contraseña?
				.mi-cuenta__botones-group
					ul
						li.mi-cuenta__padding-right
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') INGRESAR 
								.btn-general--before
						li
							a.btn.btn-white(href='') registrate
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});

