extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'mi establecimiento'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-establecimiento(style=`background-image: url('${STATIC_URL}img/img-background-registra-establecimiento.jpg')`)
		.mi-establecimiento__content
			form#afiliate__form__validate
				ul.mi-establecimiento__ul
					li.box
						img.mi-establecimiento__logo(src=`${STATIC_URL}img/img-logo-gp-registra-establecimiento.jpg` alt="")
					li.box
						.titulo-form 
							p
								| Mi establecimiento
					li.box.input-one-content.input--margin-top
						label.input-one__label Dirección de correo electrónico*
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Contraseña*
						input.input-one(type="password" name="psw", class="validate[required]")
						span.input-one--span2
					li.box
				.input-checkbox
					ul.mi-establecimiento__ul
						li.general__input.general__input--check--radio.general__input--checkbox
							.general__input__inside
								input#check1(type='checkbox')
								label.general__input--check--radio--label(for='check1')
									.general__input__inside__container
										.general__input__figure
						li Guardar mis datos
						li 
							a.link-reset(href="") ¿Has olvidado tu contraseña?
				.mi-establecimiento__botones-group
					ul.mi-establecimiento__ul
						li.mi-establecimiento--padding-right
							a.btn-general.btn-white.btn-general--before--hover-ico.btn-general--padding-right(href='') regístrate
								.btn-general--before
						li
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') ingresar
								.btn-general--before
				

//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});