extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)

//- body classs
block vars
	- var title = 'activacion form'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section
		.titulo-form 
			p
				| ¡Afiliate para poder ver la promoción!
		.afiliate__ul-content
		//- message--alert
		.box-message--alert
		span.box-message__content.box-message--green
			.box-message--ico1
			.box-message ¡El código de la tarjeta es válido!
		.solicita-tarjeta__botones-group.afiliate__botones-group
			ul.afiliate--ul-botones
				li
					button.btn-forward.btn-blue.btn-forward--hover(href='') registrar
						.btn--before
				
						
//- js
append scripts 
	script.
		$(function() {
			
		});