extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'preguntas frecuentes'
	- var bodyClass = 'class'
//- ---
	
//- Contenido
block content
	.preguntas__frecuentes
		.preguntas__frecuentes__container
			.preguntas__frecuentes__title
				h3 Preguntas Frecuentes
			.acordion__items
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.
				.acordion__item
					.preguntas__frecuentes__acordion__item__title.acordion--pitcher 
						h3 ¿Cuando me abonaran los puntos multiplicados por 5 de las compras online?
						span.acordion__item__icon.icon-17
					.preguntas__frecuentes__acordion__content
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident impedit consequuntur nisi voluptatem optio eligendi, molestias maxime dolor molestiae! Rerum necessitatibus quo unde neque assumenda, consequatur sequi maiores harum numquam magnam aliquam, amet eos veritatis officia placeat quaerat error perferendis commodi totam reprehenderit animi suscipit? Animi obcaecati inventore blanditiis deleniti.



//- js
append scripts 
	script.
		$(function() { 
			$('.acordion__item:nth-child(1) .preguntas__frecuentes__acordion__item__title').addClass('active');
			$('.acordion__item:nth-child(1) .preguntas__frecuentes__acordion__content').addClass('active');

			 $('.acordion--pitcher').click(function(e){
				e.preventDefault();
				if ($(this).hasClass('active')) {
					$(this).removeClass('active').parent().find('.preguntas__frecuentes__acordion__content').stop().slideUp();
				}else{
					$('.preguntas__frecuentes__acordion__item__title').removeClass('active');
					$('.preguntas__frecuentes__acordion__content').stop().slideUp();
					$(this).addClass('active').parent().find('.preguntas__frecuentes__acordion__content').stop().slideToggle();
				};
			 });


		});
			