extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/select2/select2.min.css`)
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var title = 'producto resultado'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.productos.productos-resultado
		.productos__resultados
				.productos__info
					h2 RESULTADO DE BÚSQUEDA
					h3 Se 
							strong encontraron (4)
								span para "Lambayeque"
		.productos__wrap
			.prodructos__bloque
				.productos__filtro
					.productos__title
						h3 FILTROS
					.productos__opciones
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion.productos__opcion--button
							a.btn-orange.btn-filtro(href='') buscar
				.productos__publicidad
					img(src=`${STATIC_URL}img/publicidad.png`)
			.producto__bloque--items
				//- .productos__banner(style=`background-image: url('${STATIC_URL}img/background-banner-turismo.png')`)
				//- 	.productos__banner__text
				//- 		h2 TURISMO

				.productos__banner__bottom.productos__banner__bottom--responsive(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)
				.productos__filtro.producto__filtro-responsive
					.productos__title
						h3 FILTROS
					.productos__opciones
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion
							.productos__opcion__select
								select(class="select--select2")
									option(value='volvo') País
									option(value='saab') Saab
									option(value='mercedes') Mercedes
									option(value='audi') Audi
						.productos__opcion.productos__opcion--button
							a.btn-orange.btn-filtro(href='') buscar
				.productos__orden
					.productos__orden__item.productos__orden__item--title
						h3 ORDENAR POR:
					.productos__orden__item
						a(href="")
							h3 Destacados
					.productos__orden__item
						a(href="")
							h3 Novedades
				.productos__box__items
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//-.promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
					.productos__item
						a.promociones__item(href="#")
							.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
							.promociones__item__content
								//- .promociones__item__discount--text
								//- .promociones__item__discount--offer
								.promociones__item__discount.promociones__item__discount--percentage
									.promociones__item__discount__logo
										img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
									.promociones__item__discount__promo 35%
								.promociones__item__info
									.promociones__item__title
										h3 Posadas del inca Yucay
									.promociones__item__text
										p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
									.promociones__item__button
										span.btn.btn-white(href='') LIMA - PERÚ
				.productos__items__nav
					ul.productos__box__pager
						li.productos__item__pager.active
							a(href="") 1
						li.productos__item__pager
							a(href="") 2
						li.productos__item__pager
							a(href="") 3
						li.productos__item__pager
							a(href="") 4
						li.productos__item__pager
							a(href="") 5
						li.productos__item__pager.productos__item__pager--next
							a(href="")
								span.icon-20
				.productos__banner__bottom(style=`background-image: url('${STATIC_URL}img/productos-publicidad-foot.png')`)




//- js
append scripts
	script(src=`${STATIC_URL}js/select2/select2.full.js`)
	script.
		$(function() {
			$(".select--select2").select2();
		});
