extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)
//- body classs
block vars
	- var title = 'registra tu establecimiento'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-establecimiento.registra-tu-establecimiento(style=`background-image: url('${STATIC_URL}img/img-background-registra-establecimiento.jpg')`)
		.mi-establecimiento__content
			form#afiliate__form__validate.registra-tu-establecimiento__form-group
				ul.mi-establecimiento__ul
					li.box
						img.mi-establecimiento__logo(src=`${STATIC_URL}img/img-logo-gp-registra-establecimiento.jpg` alt="")
					li.box
						.titulo-form 
							p
								| Registra tu establecimiento
				.box-message--alert
						span.box-message__content.box-message--green.registra-tu-establecimiento--box-message
							.box-message--ico1
							.box-message ¡Tu código es válido! llena el formulario y regístrate.
				ul.registra-tu-establecimiento--ul-one
					li.box.input-one-content.input--margin-top
						label.input-one__label Nombre del establecimiento
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Teléfonos
						input.input-one.soloNumber(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Nombre de contacto
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Página web o Facebook
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box
				ul.registra-tu-establecimiento--ul-two
					li.box.input-one-content.input--margin-top
						label.input-one__label RUC
						input.input-one.soloNumber(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label E-mail
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
					li.box.input-one-content.input--margin-top
						label.input-one__label Cargo
						input.input-one(type="", name="", class="validate[required]")
						span.input-one--span2
				.mi-establecimiento__botones-group
					ul.mi-establecimiento__ul
						li
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') ingresar
								.btn-general--before


//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});