extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)


//- body classs
block vars
	- var title = 'restablece tu contraseña'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.mi-cuenta__content
			.mi-cuenta__img(style="background-image: url('/assets/img/img-girl-form.jpg')")
			form#afiliate__form__validate.mi-cuenta__form
				.titulo-form 
					p
						| Restablecer contraseña
						strong
							| Ingresa la dirección de correo electrónico asociada a tu cuenta para que te enviemos un correo electrónico y puedas restablecer tu contraseña
				.mi-cuenta__ul-content.mi-cuenta--max-width 
					ul
						li.input-one-content.input--margin-top
							label.input-one__label Dirección de correo electrónico*
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
				.mi-cuenta__botones-group
					ul
						li.mi-cuenta__padding-right
							a.btn-general.btn-white.btn-general--after--hover.btn-general--padding-left(href='/mi-cuenta.html') volver
								.btn-general--after
						li
							button.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') enviar
								.btn-general--before
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});