extends ./_common/base.pug
//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/validationform/validationEngine.jquery.css`)


//- body classs
block vars
	- var title = 'solicita tarjeta'
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mi-cuenta
		.afiliate__content
			form#afiliate__form__validate.afiliate__form(action='', name='')
				.titulo-form.solicita-tarjeta--text-center 
					p
						| Llena tus datos y solicita tu tarjeta
						strong
							| Si tienes alguna duda o deseas información de cada tarjeta escríbenos y nos contactaremos contigo a la brevedad
				.afiliate__ul-content 
					ul
						li.input-one-content
							label.input-one__label Nombres y Apellidos
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Email
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							label.input-one__label Teléfono
							input.input-one.soloNumber(type="", name="", class="validate[required]")
							span.input-one--span
						li.input-one-content
							.input-select.n-12
								.r-input
									select(name='')
										option(value='') GlobalPass Internacional
										option(value='1') DNI
										option(value='2') Pasaporte
										option(value='3') Otro


						li.input-one-content
							label.input-one__label Mensaje
							input.input-one(type="", name="", class="validate[required]")
							span.input-one--span
				.solicita-tarjeta__botones-group
					ul
						li
							button.btn-forward.btn-blue.btn-forward--hover(href='') enviar
								.btn--before
			.afiliate__img(style="background-image: url('/assets/img/img-solicita-form.jpg')")
						
//- js
append scripts 
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine-es.js`)
	script(src=`${STATIC_URL}js/validationform/jquery.validationEngine.js`)

	script.
		$(function() {
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});
			$("#afiliate__form__validate").submit(function(e) {
				var valid = $(this).validationEngine('validate');
				if (!valid){
					return false;
				}else{
					return true;
				};
			});
		});

