.activacion
	background-color: $blanco
	width: 100%
	height: auto
.activacion__content
	max-width: 1920px
	width: 100%
	margin: 0 auto
	display: flex
	flex-direction: raw
	flex-wrap: wrap
.activacion__img-content
	width: 50%
	height: auto
	padding-top: 50px
	box-sizing: border-box
.activacion__img--jpg
	max-width: 521px
	height: auto
	margin: 0 auto
	text-align: center
	float: right
.activacion__form
	width: 50%
	height: 50%
	padding-left: 6%
	padding-right: 6%
	box-sizing: border-box
	ul
		li:nth-child(1)
			width: 49%
			display: inline-block
			.input-one--span
				width: 90%
		li:nth-child(2)
			margin-top: 20px
			width: 49%
			display: inline-block
		li:nth-child(3)
			width: 49%
			margin-top: 20px
			display: inline-block
			.input-one--span
				width: 90%
		li:nth-child(4)
			width: 49%
			margin-top: 20px
			display: inline-block
		li:nth-child(5)
			margin-top: 20px
		li:nth-child(6)
			width: 49%
			margin-top: 20px
			display: inline-block
			.input-one--span
				width: 90%
		li:nth-child(7)
			width: 49%
			margin-top: 20px
			display: inline-block
		li
			.input-one--span
				width: 100%
.activacion__ul
	font-weight: normal
	font-family: $t-1
	font-size: 16px
	color
	ul
		li:nth-child(1)
			width: 100%
			
.activacion--color-orange
	color: $c-1
.activacion--display-block
	display: block
.activacion--max-width
	max-width: 352px
@media screen and (max-width: 1199px)
	.activacion__form
		padding-right: 3%
@media screen and (max-width: 991px)
	.activacion__content
		flex-direction: column-reverse
	.activacion__form
		padding-top: 40px
		padding-bottom: 30px
		width: 80%
		padding-right: 0
		padding-left: 0
		margin: 0 auto
		text-align: center
	.activacion__img-content
		width: auto
		padding-top: 0
		margin: 0 auto
	.activacion__img--jpg
		margin: 0 auto
		// float: none
		margin-left: 5%
	.activacion--max-width
		margin: 0 auto
@media screen and (max-width: 767px)
	.activacion__img-content
		padding-right: 50px
	.activacion__form
		ul
			li:nth-child(1)
				width: 100%
				display: block
				margin-top: 20px
				.input-one--span
					width: 100%
			li:nth-child(2)
				width: 100%
				display: block
			li:nth-child(3)
				width: 100%
				display: block
				.input-one--span
					width: 100%
			li:nth-child(4)
				width: 100%
				display: block
			li:nth-child(6)
				width: 100%
				display: block
				.input-one--span
					width: 100%
			li:nth-child(7)
				width: 100%
				display: block
			li
				.input-one--span
					width: 100%
@media screen and (max-width: 575px)
	.activacion__form
		width: 90%
	.activacion__form
		padding-top: 0
	.activacion__content
		padding-top: 63px