@media screen and (max-width: 991px)
	.activacion-form--padding-right-cero
		padding-right: 0
		max-width: 50%
@media screen and (max-width: 767px)
	.activacion-form--padding-right-cero
		padding-right: 0
		max-width: 80%
	.activacion-form--img-jpg
		max-width: 400px