.afiliate__content
	max-width: 1920px
	width: 100%
	margin: 0 auto
	display: flex
	flex-direction: raw
	flex-wrap: wrap
.afiliate__img
	width: 50%
	height: 678px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.afiliate__form
	width: auto
	// min-width: 531px
	height: 50%
	margin-right: 4%
	box-sizing: border-box
	ul
		li:nth-child(1)
			width: 49%
			display: inline-block
			.input-one--span
				width: 90%
		li:nth-child(2)
			margin-top: 20px
			width: 49%
			display: inline-block
		li:nth-child(3)
			width: 49%
			margin-top: 20px
			display: inline-block
			.input-one--span
				width: 90%
		li:nth-child(4)
			width: 49%
			margin-top: 20px
			display: inline-block
		li:nth-child(5)
			margin-top: 20px
		li:nth-child(6)
			margin-top: 20px
		li
			.input-one--span
				width: 100%
.afiliate__ul-content
	max-width: 510px
	width: 100%
	height: auto
@media screen and (max-width: 1230px)
	.afiliate__content
		flex-direction: column-reverse
	.afiliate__form
		width: 80%
		height: auto
		margin-right: 0
		margin: 0 auto
		padding-top: 40px
		padding-bottom: 40px
	.afiliate__img
		width: 100%
		height: 250px
	.afiliate__ul-content
		max-width: 100%
@media screen and (max-width: 767px)
	.afiliate__form
		ul
			li:nth-child(1)
				width: 100%
				display: block
				.input-one--span
					width: 100%
			li:nth-child(2)
				width: 100%
				display: block
				.input-one--span
					width: 100%
			li:nth-child(3)
				width: 100%
				display: block
				.input-one--span
					width: 100%
			li:nth-child(4)
				width: 100%
				display: block
			li:nth-child(5)
				margin-top: 20px
			li:nth-child(6)
				margin-top: 20px
	.afiliate--text-center
		text-align: center
@media screen and (max-width: 575px)
	.afiliate__botones-group
		width: 147px
		margin: 0 auto
		padding: 0
	.afiliate__form
		width: 90%
@media screen and (max-width: 480px)
	.afiliate__img
		height: 200px
