.mapcontacto
	a
		color: inherit
		&:focus
			outline: none
	.cnt-map
		text-align: center
		.box-map
			width: 100%
			height: 350px
			position: relative
			transition: all .5s
		.map
			width: 100%
			height: 100%
		.abrir-map, .cerrar-map
			display: inline-block
			height: 35px
			line-height: 35px
			cursor: pointer
			background: c-1
			color: blanco
			font-family: t-2
			border-radius: 5px
			padding: 0 30px
			display: none
			&:hover
				background: c-1
		.cerrar-map
			position: absolute
			left: 10px
			bottom: 30px
			z-index: 100
.contacto
	.input-one--span
		width: 100%
.contacto__wrap
	max-width: 1200px
	margin: auto
	padding-left: 15px
	padding-right: 15px
.contacto__input
	padding-bottom: 52px
.contacto__dos
	display: flex
	.input__box
		width: 48%
		&:first-child
			margin-right: 5%
.input__box
	width: 45%
.form__icono
	padding-right: 30px
	span
		color: $c-1
.form__text
	align-items: center
.input__text__area
	textarea
		box-sizing: border-box
		width: 100%
		border: none
		height: 41px
		padding-left: 9px
		padding-right: 24px
		color: #b7b7b7
		font-size: 14px
		border-bottom: 1px solid #b7b7b7
		+placeholder($c-1,$t-1)
.form__datos__direcciones
	display: flex
	flex-direction: column
	padding-right: 15px
	padding-left: 15px
	align-items: flex-start	
.contacto__info
	display: flex
.form__redes__iconos
	display: flex
.contacto__info__box
	width: 50%
	padding-bottom: 60px
	margin-right: 5%
.form__text
	padding-bottom: 15px
.form__datos
	h3
		font-size: 18px
		font-family: $t-1
		color: #58595b
		margin: auto
.form__text
	display: flex
	h3
		display: block
		margin: auto
	span
		font-size: 35px
.form__redes
	padding-top: 50px
.form__item__icon
	padding-left: 15px
	a
		color: $c-0
		&:hover
			color: #fc8b11
.form__item__text
	padding-right: 20px

.form__datos
	width: 40%
	margin: auto
	padding-bottom: 60px
	padding-top: 60px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.form__datos
	background: #f9f9f9

.contacto__info__box__title
	padding-top: 44px
	h2
		font-size: 24px
		color: black
		margin: auto
		font-family: $t-3
.contacto__info__box__parrafo
	padding-top: 35px
	padding-bottom: 35px	
	p
		font-size: 16px
		margin: auto
		font-family: $t-1
		color: #58595b	

@media screen and (max-width: 1024px)
	.tabcontacto
		flex-direction: column
	.contac-nav
		width: 100%	
	.contac-form
		width: 100%
		margin-left: 0
	.contac-nav h2
		font-size: 25px	
		text-align: center
@media screen and (max-width: 980px)
	.form__datos 
		h3
			font-size: 16px
@media screen and (max-width: 768px)
	.contacto__info__box
		width: 100%
	.contacto__info
		flex-direction: column
	.form__datos
		width: 100%
	.form__datos
		margin-bottom: 20px
	.contacto__button
		text-align: center
	.contacto__dos
		// display: flex
		flex-direction: column
		.input__box
			width: 100%
			&:first-child
				margin-right: 0
	.contacto__input
		padding-bottom: 30px
	.contacto--padding-bottom
		padding-bottom: 30px
	.contacto__info__box__parrafo
		padding-top: 25px
		padding-bottom: 25px
	.contacto__wrap
		padding-top: 20px
	.contacto__info__box__title
		text-align: center
@media screen and (max-width: 640px)
	.contac-padding
		padding: 0 20px
	.contact-tabs a:nth-child(2)
		margin: 0 20px
	.contacredes
		padding: 0px 20px
// @media screen and (max-width: 640px)
	.form__datos 
		h3
			font-size: 14px
	.contacto__info__box__title
		padding-top: 63px
		h2
			text-align: center