.promotion__banner__main
	width: 100%
	height: 256px
	position: relative
.promotion__banner__image
	width: 100%
	height: 100%
	position: relative
	&:before
		content: ""
		width: 100%
		height: 100%
		background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%)
		position: absolute
		top: 0
		left: 0
		z-index: 2
.promotion__banner__image__container
	width: 100%
	height: 100%
	background-position: center
	background-repeat: no-repeat
	background-size: cover
.promotion__banner__info
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 2
.promotion__banner__info__container
	display: flex
	flex-direction: column
	justify-content: flex-end
	max-width: 1240px
	width: 100%
	height: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto
.promotion__banner__info__wrap
	padding-left: 517px
	padding-bottom: 20px
.promotion__banner__info__title
	margin-bottom: 10px
	h2
		color: $blanco
		font-family: $t-3
		font-weight: normal
		font-size: 36px
		margin-bottom: 0
.promotion__banner__info__description
	line-height: 1.2
	color: $blanco
	font-family: $t-0
	font-size: 16px
	p
		margin-bottom: 0
.promotion__banner__block
	position: relative
	z-index: 2
	margin-top: -120px
.promotion__banner__block__content
	max-width: 1240px
	width: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto
.promotion__banner__block__wrap
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
.promotion__banner__block__logo
	display: flex
	flex-direction: column
	justify-content: center
	width: 284px
	height: 141px
	background: $blanco
	border-radius: 70px
	box-shadow: 3px 5px 6px 0px  rgba(0,0,0,.1)
	margin-right: 40px
.promotion__banner__block__logo__container
	width: 210px
	margin: 0 auto
	img
		display: block
		width: 100%
		height: auto
.promotion__banner__block__circle
	display: flex
	flex-direction: column
	justify-content: center
	width: 150px
	height: 150px
	background: $c-1
	border-radius: 50%
.promotion__banner__block__circle__text
	display: block
	width: 100%
	line-height: 1
	color: $blanco
	font-family: $t-2
	font-size: 45px
	text-align: center
	margin: 0

// responsive
@media screen and (max-width: 1024px)
	.promotion__banner__info__wrap
		padding-left: 445px
	.promotion__banner__block
		margin-top: -95px
	.promotion__banner__block__logo
		width: 250px
		height: 100px
		margin-right: 30px
	.promotion__banner__block__circle
		width: 115px
		height: 115px
	.promotion__banner__block__circle__text
		font-size: 42px

@media screen and (max-width: 960px)
	.promotion__banner
		padding-bottom: 40px
	.promotion__banner__info__wrap
		text-align: center
		padding-left: 0
	.promotion__banner__block
		display: none		

@media screen and (max-width: 767px)
	.promotion__banner__main
		height: 200px
	.promotion__banner__info__title h2
		font-size: 30px
	.promotion__banner__info__description
		font-size: 14px



// gallery
.promotion__gallery__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	max-width: 1240px
	width: 100%
	box-sizing: border-box
	padding: 0 20px
	margin: auto
.promotion__gallery__info
	width: 43.1%
	box-sizing: border-box
	padding: 0 30px
	padding-top: 40px
	padding-bottom: 30px
	margin: 0
.promotion__gallery__list
	margin-bottom: 35px
.promotion__gallery__list__item
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0
.promotion__gallery__list__box
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	font-size: 20px
.promotion__gallery__list__icon
	display: block
	width: 25px
	color: $c-2
	text-align: center
	margin: 0
	&:before
		color: inherit
.promotion__gallery__list__icon--email
		font-size: 15px
.promotion__gallery__list__text
	display: block
	width: calc(100% - 25px)
	line-height: 1
	color: $c-5
	font-family: $t-0
	font-size: 18px
	box-sizing: border-box
	padding-left: 10px
	margin: 0
.promotion__gallery__box
	margin-bottom: 35px
.promotion__gallery__box__item
	margin-bottom: 30px
	&:last-child
		margin-bottom: 0
.promotion__gallery__box__title
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
	margin-bottom: 10px
.promotion__gallery__box__title__icon
	display: block	
	width: 25px
	color: $c-1
	font-size: 22px
	text-align: center
	margin: 0
	&:before
		color: inherit
.promotion__gallery__box__title__text
	width: calc(100% - 25px)
	box-sizing: border-box
	padding-left: 10px
	h3
		color: $c-1
		font-family: $t-3
		font-size: 18px
		margin-bottom: 0
.promotion__gallery__box__description
	line-height: 1.2
	color: $c-5
	font-family: $t-0
	font-size: 15px
	padding-left: 35px
	p
		margin-bottom: 0
.promotion__gallery__share
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: center
.promotion__gallery__share__text
	display: block
	line-height: 1
	color: $c-5
	font-family: $t-3
	font-size: 14px
	margin: 0
	margin-right: 15px
.promotion__gallery__share__items
	display: flex
	flex-direction: row
	flex-wrap: wrap
	margin: 0
.promotion__gallery__share__item
	margin: 0
	margin-right: 20px
	&:last-child
		margin-right: 0
.promotion__gallery__share__icon
	display: block
	line-height: 1
	color: #cccecf
	font-size: 20px
	margin: 0
.promotion__gallery__slider
	width: 56.9%
	.slick-prev,
	.slick-next
		width: 42px
		height: 36px
		background: $c-1
		color: $blanco
		top: auto
		bottom: 0
		z-index: 2
		transform: none
		&:before
			font-family: $icomoon
			font-size: 15px
	.slick-prev
		left: auto
		right: 42px
		&:before
			content: "\e90e"
	.slick-next
		right: 0
		&:before
			content: "\e90f"
.promotion__gallery__slider__image
	width: 100%
	img
		display: block
		width: 100%
		height: auto
.promotion__gallery__responsive
	display: none
	flex-direction: row
	flex-wrap: wrap
	align-items: center
.promotion__gallery__responsive__image
	max-width: 210px
	width: 100%
	margin: 0
	margin-right: 15px
	img
		display: block
		width: 100%
		height: auto
.promotion__gallery__responsive__text
	display: block
	line-height: 1
	color: $c-5
	font-family: $t-2
	font-size: 24px
	margin: 0

// responsive
@media screen and (max-width: 1024px)
	.promotion__gallery__info
		padding-bottom: 20px
	.promotion__gallery__list
		margin-bottom: 25px
	.promotion__gallery__list__item
		margin-bottom: 15px
	.promotion__gallery__box
		margin-bottom: 25px
	.promotion__gallery__box__title
		margin-bottom: 5px
	.promotion__gallery__box__item
		margin-bottom: 15px

@media screen and (max-width: 960px)
	.promotion__gallery
		padding-bottom: 40px
	.promotion__gallery__responsive
		display: flex
		margin-bottom: 40px
	.promotion__gallery__responsive__text
		width: 60px
		height: 60px
		line-height: 60px
		background: $c-1
		color: $blanco
		font-family: $t-2
		font-size: 22px
		text-align: center
		border-radius: 50%
	.promotion__gallery__info
		width: 47%
		padding-top: 0
		padding-left: 0
		padding-bottom: 0
	.promotion__gallery__slider
		width: 53%

@media screen and (max-width: 767px)
	.promotion__gallery__content
		padding: 0 15px
	.promotion__gallery__responsive
		justify-content: center
	.promotion__gallery__content
		flex-direction: column
	.promotion__gallery__info
		max-width: 480px
		width: 100%
		padding-right: 0
		margin-left: auto
		margin-right: auto
		margin-bottom: 40px
	.promotion__gallery__slider
		max-width: 480px
		width: 100%
		margin: auto

@media screen and (max-width: 480px)
	.promotion__gallery__responsive
		flex-direction: column
	.promotion__gallery__responsive__image
		margin-right: 0
		margin-bottom: 10px

// mapa 
.promocion__detail__wrap
	padding-bottom: 40px

.promocion__detail__container
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	display: flex
	align-items: center
	flex-wrap: wrap 
	flex-direction: row-reverse
	height: 475px

.promocion__detail__map
	width: 43.1%
	height: 100%

.map__general__container__box
	height: 100%

.map__general__box
	width: 100%	
	height: 100%
	position: relative
	transition: all .5s linear 
	.map 
		width: 100%	
		height: 100%

.map__general--close--map, .map__general--open--map
	display: none

.map__general--close--map
	position: absolute
	right: 10px
	top: 10px

.promocion__detail__description__item
	margin-bottom: 30px
	&:last-child
		margin-bottom: 0

.promocion__detail__description
	width: 56.9%
	height: 100%
	overflow: auto
	padding: 30px 40px
	box-sizing: border-box

.promocion__detail__subtitle
	display: flex
	align-items: center 
	padding-bottom: 25px
	border-bottom: 1px solid #F2F2F2
	h3 
		margin: 0
		font-size: 18px
		font-family: $t-2
		color: $c-1	

.promocion__detail__icon
	display: block
	margin: 0
	padding-right: 10px
	color: $c-1
	&:before
		color: $c-1
.promocion__detail--icon1
	font-size: 26px
.promocion__detail--icon2
	font-size: 15px

.promocion__detail__text
	padding-top: 20px
	font-size: 16px
	font-family: $t-1
	line-height: 1.3
	p:last-child
		margin: 0

@media screen and (max-width: 768px)
	.map__general__wrap
		position: relative
		
	.map__general__box
		position: fixed
		top: -200%
		left: 0
		height: 100%
		z-index: 2000
		&.active
			top: 0
	
	.map__general--close--map, .map__general--open--map
		display: inline-block

	.promocion__detail__description
		width: 100%
		padding: 0

	.promocion__detail__map
		width: 100%
		text-align: center
		padding: 30px 0	0 0

	.promocion__detail__container
		height: auto
	

// descuentos
.promocion__descuentos__wrap
	padding-bottom: 35px
.promocion__descuentos__container
	max-width: 1280px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box

.promociones__subtitle
	padding: 0 33px 
	box-sizing: border-box
	margin-bottom: 45px
	h3 
		font-size: 26px
		color: $c-0
		margin: 0
		font-family: $t-3

.promociones__slider
	.slick-slider
		padding: 0 20px
	.slick-prev
		left: 0
	.slick-next 
		right: 0
	.slick-prev:before, .slick-next:before
		font-family: 'icomoon'
		color: #8E9093
		font-size: 17px
	.slick-prev:before
		content: "\e90e"
	.slick-next:before
		content: "\e90f"

.promociones__item
	display: inline-block
	padding-bottom: 30px
	box-sizing: border-box
	transition: all .25s linear
	border-radius: 15px 15px 0 0
	overflow: hidden

@media screen and (min-width: 1025px)
	.promociones__item:hover
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.14)

.promociones__slider__item
	margin: 0 5px
	padding: 15px 10px 
	box-sizing: border-box

.promociones__item__image
	width: 100%
	height: 165px
	background-position: center center
	background-size: cover 
	background-repeat: no-repeat
	border-radius: 15px 15px 0 0
	overflow: hidden

.promociones__item__info
	text-align: center
	padding: 0 11%

.promociones__item__title
	margin-bottom: 10px
	h3 
		font-size: 18px
		color: $c-4
		font-family: $t-2
		margin: 0

.promociones__item__text
	font-size: 14px
	line-height: 1.2
	p
		margin: 0

.promociones__item__discount
	display: flex
	align-items: center
	justify-content: center
	height: 60px
	margin-top: -30px

.promociones__item__discount__logo
	border: 1px solid #EDEDED
	border-radius: 30px 0 0 30px
	padding: 0 10px 0 30px
	box-sizing: border-box
	height: 100%
	background: $blanco
	img
		display: block
		width: 100%
		height: auto

.promociones__item__discount__promo
	background: $c-2
	border: 1px solid $c-2
	color: $blanco
	display: flex
	align-items: center
	height: 100%
	padding: 0 15px 
	box-sizing: border-box
	border-radius: 0 30px 30px 0
	font-size: 22px
	font-family: $t-3

.promociones__item__info
	margin-top: 25px

.promociones__item__text
	line-height: 1.3
	p 
		margin: 0
		color: #858789

.promociones__item__button
	margin-top: 15px
	.btn-enlace
		width: 138px
		height: 23px
		line-height: 23px
		text-align: center
		padding: 0

.promociones__item__discount--percentage
	.promociones__item__discount__promo
		font-size: 26px

.promociones__item__discount--text
	.promociones__item__discount__promo
		font-size: 22px

.promociones__item__discount--offer
	.promociones__item__discount__promo
		font-size: 26px

@media screen and (max-width: 1024px)
	.promocion__descuentos__wrap
		padding-bottom: 25px
	.promociones__item
		padding-bottom: 0

@media screen and (max-width: 767px)
	.promociones__slider .slick-slider
		padding: 0

	.promociones__slider .slick-prev
		display: none !important

	.promociones__slider .slick-next 
		display: none !important

	.promociones__slider__item
		margin: 0

	.promociones__subtitle
		padding: 0 15px

	.promociones__subtitle
		padding: 0

	.promociones__subtitle
		text-align: center
		h3
			font-size: 20px