.section-enviado
	width: 100%
	height: 100vh
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	align-items: center
	justify-content: center
	justify-items: center
.enviado-content
	width: 100%
	max-width: 992px
	height: auto
	text-align: center
.enviado--h1
	font-family: $t-3
	font-size: 48px
	color: $blanco
	strong
		display: block
.enviado--h2
	font-family: $t-1
	font-size: 20px
	color: $blanco
	padding-top: 18px
	padding-bottom: 27px
	font-weight: normal
@media screen and (max-width: 575px)
	.enviado-content
		padding-left: 20px
		padding-right: 20px