// boton-general
@keyframes ico-bea
	0%
		right: 0px
	50%
		right: -10px
	100%
		right: 0px
.promocion__general
	display: inline-block	
.promocion__g__btn
	display: flex
	align-items: center
	height: 50px
	background-color: white
	position: relative
	z-index: 2
	border-radius: 22px
	padding-right: 28px
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)
	padding-left: 29px	
	transition: all 450ms ease
	h3
		font-size: 15px
		margin: auto
		font-family: $t-2
		color: $c-5
		padding-right: 16px	
	.btn__circule
		position: relative
		height: 36px	
		width: 36px	
		border-radius: 50%
		transition: all 650ms ease
		background-color: #fc8b11
		&:before
			content: "\e926"
			color: white
			position: absolute
			left: 0
			right: 0
			height: 16px
			text-align: center
			margin: auto
			top: 0
			bottom: 0
			font-size: 15px
			font-family: icomoon
	@media screen and (min-width: 1025px)
		&:hover
			.btn__circule
				animation: 1s ico-bea infinite
				transition: all 650ms ease
.promocion__button
	text-align: center	
	padding-top: 40px	
.banner__slider__item
	width: 100%
	height:	550px
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	display: flex
	&:before
		content: ""
		width: 100%
		height: 100%
		background-color: rgba(0, 0, 0, 0.50)
		left: 0
		top: 0
		position: absolute
.banner__content
	max-width: 1200px
	margin: auto
	width: 100%
	position: relative
	z-index:  1
	padding-left: 15px
	padding-right: 15px
.banner__wrap
	display: flex
	flex-direction: column
.banner__slider__title
	display: flex
	justify-content: center
	h2
		color: $blanco
		text-align: center
		font-family: $t-2
.banner__slider__subtitule
	display: flex
	justify-content: center
	h3
		font-size: 21px
		text-align: center
		color: $blanco
		font-family: $t-1
		margin: auto
.banner__select
	display: flex
	align-items: center
	padding-top: 28px
	justify-content: center
	.banner__select__borde
		position: relative
		z-index: -1
		border-radius: 14px
	.banner__select__item
		width: 20%
		background-color: $blanco
		margin: 0
		color: #7a7b7c
		font-family: $t-0
		position: relative
		font-size: 14px
		justify-content: left
		padding-left: 15px
		align-items: center
		height: 44px
		display: flex
		position: relative
		&:before
			content: "\e923"
			right: 0
			font-family: icomoon
			font-size: 15px
			color: #4d4d4d
			position: absolute
	.baner__select__border
		position: relative
		&:before
			content: ""
			right: -20px
			width: 30px
			height: 44px
			position: absolute
			background-color: white
		&:after
			content: "\e923"
			right: 15px
			font-family: icomoon
			font-size: 15px
			top: 0
			color: #4d4d4d
			position: absolute
			bottom: 0
			margin: auto
			height: 14px

	.banner__select__item-button
		background-color: inherit
		padding-left: 0
		&:before
			content: none
	.btn--padding-left
		margin: 0
	.banner__select__item-button
		justify-content: left

//----------------------

.banner__form__block
	max-width: 850px
	width: 100%
	margin: auto
	margin-top: 25px

.banner__form__block__list
	display: flex
	.select2-container
		width: 100% !important
	.select2-container .select2-selection--single
		height: 51px !important
		border-radius: 0px !important
		border: none !important
		border-left: 1px solid #DBDBDB !important
	.select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 51px !important
		font-size: 14px !important
		font-family: $t-1 !important
	.select2-container--default .select2-selection--single .select2-selection__arrow
		height: 51px
	.select2-selection__arrow:before
		content: "\e923"
		font-family: icomoon
		line-height: 51px
		font-size: 14px
	.select2-container .select2-selection--single .select2-selection__rendered
		padding-left: 20px
	b
		display: none !important


.select2-dropdown
	border-radius: 0px !important
	border: 1px solid #DBDBDB !important
	border-top: none !important

.select2-search--dropdown
	padding: 10px 10px !important

.select2-search--dropdown .select2-search__field
	padding: 10px !important

.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color: $c-1 !important

.select2-results__option
	font-family: $t-0 !important
	font-size: 14px !important
	padding: 10px 20px !important

.select2-search--dropdown .select2-search__field
	font-family: $t-0 !important
	font-size: 14px !important

.select2-results__option img
	width: 87px 
	height: 15px
	margin-left: 2%

.banner__form__select--line--one
	width: 100%

.banner__form__select--line--last
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		right: 50%
		width: 100%
		height: 100%
		background: $blanco
		z-index: -1

.banner__home--clone
	.banner__form__block__responsive
		display: none

@media screen and (max-width: 767px)
	.banner__home--clone
		padding: 40px 15px 20px 15px

	.banner__form__block__list
		li
			margin-bottom: 20px

	.banner__form__block__list
		flex-wrap: wrap

	.banner__form__block__list .select2-container .select2-selection--single
		border: 1px solid #DBDBDB !important

	.banner__form__select--line--last
		margin-bottom: 0 !important

	.banner__form__block
		display: none

	.banner__home--clone
		.banner__form__block__responsive
			display: block
//----------------------

.select__box__item
	position: absolute
	background-color: white
	width: 100%
	text-align: center
	top: 100%
	left: 0
	color: #7a7b7c
	overflow-y: scroll
	height: 170px
	.select__item
		text-align: left
		margin-left: 15px
		padding-top: 15px
		padding-bottom: 15px
// Slider-items
.productos__box__item
	// display: flex
	max-width: 1235px
	margin: auto
	padding-top: 35px
	padding-left: 20px
	padding-right: 20px
	.productos__box__item
		position: relative
	.slick-prev
		position: absolute
		left: 0
		&:before
			content: "\e927"
			position: absolute
			left: 0
			top: 0
			bottom: 0
			font-family: icomoon
			font-size: 20px
			color: #8e9093
	.slick-next
		position: absolute
		right: 0
		&:before
			content: "\e926"
			position: absolute
			right: 0
			top: 0
			bottom: 0
			font-family: icomoon
			font-size: 20px
			color: #8e9093

	.promociones__item__discount__promo
		background-color: $c-0
		border: $c-0
	.producto__item
		width: 20%
		margin-right: 12.5px
		margin-left: 12.5px
		&:last-child
			margin-left: 0

// promociones-destacadas
.promocion__box__item
	display: flex
	flex-wrap: wrap
	justify-content: center
	.promociones__item__discount__promo
		background-color: $c-0
		border: $c-0
.promocion__title__box
	padding-top: 40px
	h2
		font-size: 26px
		color: #0172bb
		font-family: $t-3
		margin: auto
		text-align: center
		margin-bottom: 30px
.promocion__item
	width: 22%
	margin-left: 12px
	margin-right: 12px
.promocion__wrapp
	max-width: 1235px
	margin: auto
	padding-left: 20px
	padding-right: 20px
.promocion__banner__publicidad
	width: 100%
	height: 144px
	margin-top: 43px
	margin-bottom: 40px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
// promocion-activa
.membresia__bgc
	width: 100%
	height: 275px
	text-align: center
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	&:before
		content: ""
		left: 0	
		right: 0	
		width: 100%	
		height: 100%	
		background-color: rgba(0, 0, 0, 0.5)
		position: absolute
.membresia__activa__box
	display: flex
	.membresia__activa__item
		width: 33%	
		margin-right: 10px
		&:last-child
			margin-right: 0
.membresia__bgc__text
	position: relative
	z-index: 1
	padding-top: 35px
	h3
		font-size: 21px	
		color: white
		max-width: 240px
.membresia__bgc__icon
	position: relative
	z-index: 1
	width: 88px	
	height: 57px
	img
		max-width: 100%
		height: auto
		display: block

.membresia__bgc__button
	position: absolute
	z-index: 1
	top: 90%
	left: 0
	right: 0
	margin: auto
	text-align: center
	.promocion__g__btn
		background-color: white
.membresia__bgc__buttont
	position: absolute
	bottom: -20px
.membresia__activa__wrap
	padding-bottom: 30px
//slider-marcas
.slider__items__img
	width: 147px
	height: 150px
	img
		max-width: 100%
		height: auto
.drawing__banner__card
	height: 550px
	background-size: cover
	background-repeat: no-repeat
	width: 100%
	background-position: center
.slider__membresia__wrapp__content
	max-width: 1200px
	margin: auto
	padding-top: 56px
	padding-bottom: 36px
	padding-left: 15px
	padding-right: 15px
.drawing__reponsive__items
		display: none
.slider__membresia
	h2
		text-align: center
		margin: auto
		font-size: 26px
		font-family: $t-3
		color: $c-0
.home-slider-membresia--overflow
	overflow: hidden
@media screen and (max-width: 1024px)
	.drawing__reponsive__items
		display: block
	.drawing-container#drawing-container
			display: none
@media screen and (max-width: 980px)
	.promocion__item
		width: 45%
		margin-left: 10px
		margin-bottom: 10px
		margin-right: 10px
	.membresia__activa__box
		flex-direction: column
	.membresia__activa__box .membresia__activa__item
		width: 100%
		margin-bottom: 50px
	.membresia__activa__wrap
		padding-bottom: 0
	.drawing__banner__card
			height: 280px
	.promocion__banner__publicidad
		height: 120px
@media screen and (max-width: 550px)
	.promocion__item
		width: 100%
	.drawing__banner__card
			height: 180px
	.slider__membresia__wrapp__content
			padding-top: 20px
			padding-bottom: 10px
	.promocion__banner__publicidad
		height: 54px

