.membresia
	background-color: $blanco
	width: 100%
	height: auto
	padding-top: 50px
.membresia__content
	max-width: 1920px
	width: 100%
	margin: 0 auto
	display: flex
	flex-direction: raw
	flex-wrap: wrap
.membresia--ul
	padding-bottom: 20px
.membresia__datos
	font-weight: normal
	font-family: $t-3
	color: $c-5
	font-size: 16px
	padding-top: 20px
	strong
		font-family: $t-1
		font-weight: normal
.membresia--padding-bottom
	padding-bottom: 55px
.membresia__img-tarjeta
	position: relative
.membresia--img-tarjeta
	position: absolute
	right: 0
	bottom: 0
	max-width: 550px
@media screen and (max-width: 991px)
	.membresia__content
		flex-direction: column-reverse
	.membresia--img-tarjeta
		position: relative
	.membresia--padding-bottom
		padding-bottom: 0
@media screen and (max-width: 575px)
	.membresia
		padding-top: 63px