.mi-cuenta
	background-color: $blanco
	width: 100%
	height: auto
.mi-cuenta__content
	max-width: 1920px
	width: 100%
	margin: 0 auto
	display: flex
	flex-direction: raw
	flex-wrap: wrap
.mi-cuenta__img
	width: 50%
	height: 678px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.mi-cuenta__form
	width: 50%
	height: 50%
	padding-left: 6%
	padding-right: 6%
	box-sizing: border-box
.mi-cuenta__botones-group
	padding-top: 50px
	height: auto
	ul
		li:nth-child(1)
			display: inline-block
			vertical-align: top
		li:nth-child(2)
			display: inline-block
			vertical-align: top
.input-checkbox
	ul 
		li:nth-child(3)
			font-weight: normal
			font-family: $t-1
.mi-cuenta__padding-right
	padding-right: 24px
.mi-cuenta--max-width
	max-width: 430px
@media screen and (max-width: 1199px)
	.mi-cuenta__form
		padding-right: 3%
@media screen and (max-width: 991px)
	.mi-cuenta__img
		width: 100%
		height: 250px
	.mi-cuenta__form
		padding-top: 40px
		padding-bottom: 40px
		width: 90%
		padding-right: 0
		padding-left: 0
		text-align: center
	.mi-cuenta--max-width
		max-width: 100%
@media screen and (max-width: 575px)
	.input-checkbox
		ul
			li:nth-child(3)
				margin-top: 15px
	.mi-cuenta__botones-group
		text-align: center
@media screen and (max-width: 480px)
	.mi-cuenta__img
		height: 200px
@media screen and (max-width: 375px)
	.mi-cuenta__padding-right
		padding-right: 10px
