.mi-cuenta-registro
	background-color: $blanco
	width: 100%
	height: auto
	padding-top: 63px
	padding-bottom: 83px
.mi-cuenta-registro__content
	max-width: 1920px
	width: 80%
	margin: 0 auto
.mi-cuenta-registro--titulo-content
	margin: 0 auto
	height: 50px
.mi-cuenta-registro--text-center
	text-align: center
	max-width: 100%
.mi-cuenta-registro--color-blue
	color: $c-0
.mi-cuenta-registro--margin-top
	margin-top: 50px
.mi-cuenta-registro__form
	box-sizing: border-box
.mi-cuenta-registro__box-content
	height: auto
	width: 100%
	padding-top: 10px
	display: flex
	flex-direction: raw
	flex-wrap: wrap
	justify-content: space-between
.mi-cuenta-registro__box
	height: auto
	width: 35%
.mi-cuenta-registro__box2
	height: auto
	width: auto
.mi-cuenta-registro__img-banner
	max-width: 297px
	width: 100%
	max-height: 468px
	height: auto
.mi-cuenta-contrasena--margin-right
	margin-right: 20px
@media screen and (max-width: 1532px)
	.mi-cuenta-registro__box
		width: 32%
@media screen and (max-width: 1199px)
	.mi-cuenta-registro__box
		width: 30%
@media screen and (max-width: 991px)
	.mi-cuenta-registro__box2
		display: none
	.mi-cuenta-registro__box
		width: 48%
@media screen and (max-width: 767px)
	.mi-cuenta-registro__box
		width: 100%
@media screen and (max-width: 575px)
	.mi-cuenta-registro__botones-content
		a
			display: block
			max-width: 150px
		a:nth-child(2)
			margin-top: 20px
	.mi-cuenta-registro__content
		max-width: 1920px
		width: 90%
		margin: 0 auto
	.mi-cuenta-contrasena--margin-right
		margin-right: 0