.mi-establecimiento
	width: 100%
	height: 100vh
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	display: flex
	align-items: center
	justify-content: center
	justify-items: center
.mi-establecimiento__content
	width: 625px
	height: auto
	margin: 0 auto
	background-color: $blanco
	margin-right: 10px
	margin-left: 10px
	// padding-top: 40px
	padding-bottom: 80px
	box-sizing: border-box
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	justify-items: center
	border-radius: 5px
.box
	text-align: center	
.mi-establecimiento__logo
	width: 187px
	height: auto
	padding-bottom: 35px
	padding-top: 80px
.mi-establecimiento__botones-group
	padding-top: 50px
	height: auto
	text-align: center
	ul
		li:nth-child(1)
			display: inline-block
			vertical-align: top
			margin-right: 10px
		li:nth-child(2)
			display: inline-block
			vertical-align: top
.mi-establecimiento--padding-right
	padding-right: 24px
@media screen and (max-width: 1024px)
	.mi-establecimiento__content
		padding-bottom: 40px
	.mi-establecimiento__logo
		padding-bottom: 15px
		padding-top: 40px
@media screen and (max-width: 767px)
	.mi-establecimiento__content
		padding-top: 0
		padding-right: 65px
		padding-left: 65px
		width: initial
		padding-bottom: 20px
	.mi-establecimiento__logo
		padding-top: 20px
	.mi-establecimiento__botones-group
		padding-top: 25px
		ul
			li
				padding-top: 10px
	.mi-establecimiento__ul
		padding-bottom: 0
	.mi-establecimiento
		padding-top: 110px
		padding-bottom: 110px
@media screen and (max-width: 575px)
	.mi-establecimiento__ul
		width: 100%
		text-align: center
		box-sizing: border-box
	.mi-establecimiento--padding-right
		padding-right: 0
	.mi-establecimiento__content
		width: 100%
@media screen and (max-width: 480px)
	.mi-establecimiento
		padding-top: 0px
		padding-bottom: 0px
	.mi-establecimiento__content
		padding-right: 0px
		padding-left: 0px