.mi-cuenta-contrasena__botones-box
	height: 50px
	max-width: 800px
	width: 100%
	padding-top: 10px
.mi-cuenta-contrasena__box
	height: auto
	width: 31%
.mi-cuenta-contrasena--margin-right
	margin-right: 20px
@media screen and (max-width: 991px)
	.mi-cuenta-contrasena__box
		height: auto
		width: 100%
@media screen and (max-width: 575px)
	.mi-cuenta-contrasena__botones-box
		height: auto
		text-align: center
		a
			display: block
			max-width: 150px
		a:nth-child(2)
			margin-top: 20px
	.mi-cuenta-contrasena--margin-right
		margin-right: auto
	.mi-cuenta-contrasena--margin-top
		margin-top: 20px