$font-size: 16px
$line-height: 1.2
$lines-to-show: 3
.productos
	.promociones__item__discount__promo
		background: #0172bb
		border: 1px solid #0172bb
	.promociones__item__text
		p
			display: block
			display: -webkit-box
			max-width: 400px
			height: $font-size*$line-height*$lines-to-show
			margin: 0 auto
			font-size: $font-size
			line-height: $line-height
			-webkit-line-clamp: $lines-to-show
			-webkit-box-orient: vertical
			overflow: hidden
			text-overflow: ellipsis
.productos__wrap
	display: flex
.productos__wrap
	max-width: 1240px	
	margin: auto
	padding-left: 15px
	padding-right: 15px
.productos__publicidad
	width: 299px	
	height: 609px
	margin-top: 26px
.productos__banner__text
	position: relative
	z-index: 1
	max-width: 397px
	h2
		color: white
		font-family: $t-2
		margin: auto
		font-size: 33px
.productos__banner
	width: 100%
	height: 261px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
	position: relative
	display: flex
	align-items: center
	text-align: center
	justify-content: center
	&:before
		content: ""
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.2)
		left: 0
		right: 0

.productos__banner__bottom
	width: 100%
	height: 144px
	margin-top: 43px
	margin-bottom: 40px
	background-size: cover
	background-position: center center
	background-repeat: no-repeat
.productos__filtro
	background-color: #f9f9f9
	width: 299px
	padding-bottom: 33px
	padding-top: 10px
.productos__orden
	display: flex
	padding-top: 33px
	margin-bottom: 28px
	border-bottom: 1px solid #f0f0f0
	h3
		font-size: 16px
		font-family: $t-1
	.productos__orden__item--title
		h3
			font-size: 16px	
			font-family: $t-2
			margin: auto
.productos__title
	padding-left: 37px
	margin-bottom: 23px
	border-bottom: 1px solid #e3e3e3
	padding-bottom: 13px
	h3
		font-size: 15px
		margin: auto
		padding-left: 15px
		position: relative
		font-family: $t-3
		color: #212121
		&:before
			content: "\e928"
			font-family: icomoon
			font-size: 11px
			left: 0
			top: 0
			position: absolute
.productos__opcion--button
	.btn-filtro
		width: 100%
.productos__opcion--button
	max-width: 200px
	text-align: center
.productos__orden__item
	margin-left: 15px
	margin-right: 105px
	position: relative
	&:nth-child(1)
		&:before
			content: none
	&:before
		content: ""
		bottom: 0
		left: 0
		transition: all 450ms ease
		width: 100%
		height: 2px
		right: 0
		position: absolute
		background: $c-1
		opacity: 0
	&:hover
		&:before
			opacity: 1
.productos__item
	width: 30.333333%
	margin-left: 10px
	margin-right: 10px
	margin-bottom: 20px
.producto__bloque--items
	width: 70%
.prodructos__bloque
	width: 30%
	margin-right: 10px
.productos__box__items
	display: flex
	flex-wrap: wrap
.productos__opcion__select
	position: relative
	&:before
		content: "\e923"
		pointer-events: none
		right: 12px
		bottom: 0
		height: 10px
		top: 0
		position: absolute
		font-size: 15px
		font-family: icomoon
		margin: auto
		text-align: center



.productos__opcion
	width: 100%
	margin-bottom: 8px
	select
		width: 100%
		border-radius: 2px
		border-color: #f0f0f0
		height: 44px
		color: #58595b
		font-size: 14px
		padding-left: 23px
		-moz-appearance: none
		appearance: none
		&::-ms-expand
			display: none

.promotion__item__tall
	height: 409px;
.productos__opciones
	max-width: 234px
	margin: auto
.productos__box__pager
	max-width: 200px
	display: flex
	a
		font-size: 16px
		font-family: $t-1
		color: $c-4
		padding: 3px 10px 3px 10px
.producto__filtro-responsive
	display: none
.productos__items__nav
	ul
		li
			&.active
				background-color: #f2f2f2
				color: #7a7b7c
.productos__banner__bottom--responsive
		display: none
@media screen and (max-width: 1024px)
	.productos__publicidad
		width: 100%
	.productos__filtro
		width: 100%
	.productos__banner__bottom
		height: 110px
@media screen and (max-width: 995px)
	.productos__item
		width: 45.3333%
		margin-left: 2%
		margin-right: 2%
	.productos__orden__item
		margin-right: 50px
	.productos__filtro
		display: none
	.producto__filtro-responsive
		display: block
	.productos__publicidad
		display: none
	.prodructos__bloque
		width: initial
		margin-right: 0	
	.producto__bloque--items
		width: 100%
	.productos__opciones
		max-width: initial
		width: 100%
		display: flex
		justify-content: center
	.productos__opcion
		width: 20%
		padding-left: 4px
		padding-right: 4px
	.productos__filtro
		padding-bottom: 10px
	.productos__title
		margin-bottom: 10px
	.productos__banner__bottom--responsive
			display: block
			margin-top: 10px
			margin-bottom: 10px
@media screen and (max-width: 550px)
	.productos__item
		width: 90%
	.productos__box__items
			justify-content: center
	.productos__opciones
			flex-direction: column
			align-items: center
	.productos__opcion
			width: 80%
	.productos__banner__bottom
			height: 90px
	.productos__orden__item
			margin-right: 0	
			width: 30%





