.registra-tu-establecimiento--padding
	padding-right: 10px 
	padding-left: 10px
.registra-tu-establecimiento__form-group
	width: 80%
.registra-tu-establecimiento--ul-one, .registra-tu-establecimiento--ul-two
	display: inline-block
	vertical-align: top
	width: 47%
.registra-tu-establecimiento--ul-two
	float: right
.registra-tu-establecimiento--box-message
	justify-content: center
@media screen and (max-width: 767px)
	.registra-tu-establecimiento--ul-one, .registra-tu-establecimiento--ul-two
		display: block
		vertical-align: top
		width: 90%
	.registra-tu-establecimiento--ul-two
		float: none
@media screen and (max-width: 767px)
	.registra-tu-establecimiento
		height: auto
		padding-top: 40px
		padding-bottom: 40px