.registra-tu-establecimiento-codigo--display-block
	display: block
.registra-tu-establecimiento-codigo--parrafo
	margin: 0 auto
.registra-tu-establecimiento-codigo--content
	padding-right: 20px
	padding-left: 20px
	padding-bottom: 80px
.registra-tu-establecimiento-codigo--margin-top
	margin-top: 0
@media screen and (max-width: 1024px)
	.registra-tu-establecimiento-codigo--content
		padding-bottom: 40px