.mi-cuenta
	background-color: $blanco
	width: 100%
	height: auto
.mi-cuenta__content
	max-width: 1920px
	width: 100%
	margin: 0 auto
	display: flex
	flex-direction: raw
	flex-wrap: wrap
.mi-cuenta__img
	width: 50%
	height: 678px
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.mi-cuenta__form
	width: 50%
	height: 50%
	padding-left: 6%
	padding-right: 6%
	box-sizing: border-box
	// text-align: center
	ul
		li:nth-child(2)
			margin-top: 20px
.mi-cuenta__botones-group
	ul
		li
			display: inline-block
.input-checkbox
	ul
		li:nth-child(3)
			font-weight: normal
			font-family: $t-1
@media screen and (max-width: 1199px)
	.mi-cuenta__form
		padding-right: 3%
@media screen and (max-width: 991px)
	.mi-cuenta__img
		width: 100%
		height: 400px
	.mi-cuenta__form
		padding-top: 40px
		padding-bottom: 40px
		width: 90%
		padding-right: 0
		padding-left: 0
	.mi-cuenta__form
		padding-right: 0

@media screen and (max-width: 575px)
	.input-checkbox
		// text-align: center
		ul
			li:nth-child(3)
				display: block
				margin-top: 15px
@media screen and (max-width: 375px)
	.mi-cuenta__botones-group
		width: 147px
		margin: 0 auto
		padding: 0
		ul
			li
				display: block
	.input-checkbox
		padding-bottom: 20px