.solicita--span-azul
	color: $c-0
.solicita-tarjeta__botones-group
	padding-top: 50px
.input-one-content
	.r-input
		vertical-align: middle
		position: relative
		&:before
			content: "\e923"
			position: absolute
			right: 0
			bottom: 7px
			z-index: 5
			font-size: 15px
			color: #0172bb
			font-family: icomoon
		select
			color: $c-0
@media screen and (max-width: 767px)
	.solicita-tarjeta__botones-group
		text-align: center
	.solicita-tarjeta--text-center
		text-align: center