.corporativo__container
	// max-width: 1420px
	max-width: 1920px
	margin-left: 0
	margin-right: auto
	padding: 0 20px 0 0
	box-sizing: border-box

.corporativo__table
	display: flex
	flex-direction: row-reverse
	flex-wrap: wrap

// left

.corporativo__left
	width: 40%

.corporativo__img
	width: 100%
	height: 100%
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

// right
.corporativo__right
	width: 60%
	padding: 30px 0
	box-sizing: border-box

.corporativo__right__top
	max-width: 80%
	padding-left: 55px
	// margin: auto
	// text-align: center
	h3
		font-size: 24px
		font-family: $t-2
		margin: 0
		color: $negro
		margin-bottom: 15px
		text-align: center
	p
		font-size: 16px
		font-family: $t-1
		margin: 0 auto
		line-height: 1.4
		text-align: center
		max-width: 80%
	a
		color: $c-1
		font-family: $t-1

.corporativo__right__slider
	max-width: 80%
	// margin-right: 0
	// margin-left: auto
	// margin-top: 40px
	padding-left: 55px
	.slick-slider
		padding: 0 20px
		box-sizing: border-box
	.slick-next
		right: 0
	.slick-next:before
		content: "\e926"
		font-family: 'icomoon'
		color: $negro
	.slick-prev
		left: 0
	.slick-prev:before
		content: "\e927"
		font-family: 'icomoon'
		color: $negro

.corporativo__right__item
	margin: 0 20px

.corporativo__right__image
	width: 107px
	height: 94px
	margin: auto
	margin-top: 25px

.corporativo__right__info
	text-align: center
	margin-top: 15px

.corporativo__right__info__title
	margin-bottom: 10px
	h3
		font-size: 16px
		font-family: $t-3
		color: $negro
		margin: 0

.corporativo__right__info__text
	font-size: 16px
	font-family: $t-1
	color: $c-4
	line-height: 1.4
	p 
		margin: 0

@media screen and (max-width: 1500px)
	.corporativo__right
		margin: auto
		padding: 30px 0 30px 20px
// @media screen and (max-width: 1216px)
	
@media screen and (max-width: 1024px)
	.corporativo__wrap
		padding: 50px 0 0 0

	.corporativo__container
		margin: auto
		padding: 0

	.corporativo__table
		flex-direction: row

	.corporativo__left
		width: 100%

	.corporativo__right
		width: 100%
		padding: 0 20px 30px 20px

	.corporativo__right__slider
		max-width: 100%

	.corporativo__img
		height: 300px
	.corporativo__right__top
		max-width: 90%
		padding-left: 0
		margin: 0 auto
	.corporativo__right__slider
		max-width: 90%
		padding-left: 0
		margin: 0 auto
	
@media screen and (max-width: 767px)
	.corporativo__right
		padding: 0 15px 30px 15px

	.corporativo__wrap
		padding: 63px 0 0 0

	.corporativo__right__item
		margin: 0 10px

