.informacion__tarjeta__banner
	display: flex
	justify-content: center
	align-items: center
	height: 272px
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $negro
		opacity: .3

.informacion__tarjeta__banner__container
	max-width: 550px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.informacion__tarjeta__banner__title
	position: relative
	text-align: center
	h4
		font-size: 21px
		margin: 0
		font-family: $t-1
		color: $blanco
		line-height: 1.2
	h3
		font-size: 36px
		font-family: $t-2
		color: $blanco
		margin: 0
		margin-top: 10px
		line-height: 1.3
@media screen and (max-width: 1024px)
	.informacion__tarjeta__banner__title h3
		font-size: 30px

@media screen and (max-width: 767px)
	.informacion__tarjeta__banner__title h3
		font-size: 25px

// corporativo tarjeta
.corporativo__tarjeta__wrap
	padding-top: 55px
	padding-bottom: 55px
	
.corporativo__tarjeta__container
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.corporativo__tarjeta__table
	display: flex
	flex-direction: row-reverse
	flex-wrap: wrap
	align-items: center

// left

.corporativo__tarjeta__left
	width: 30%

.corporativo__tarjeta__img
	width: 100%
	height: 100%
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

// right
.corporativo__tarjeta__right
	width: 70%
	box-sizing: border-box
	padding-left: 30px

.corporativo__tarjeta__right__top
	max-width: 680px
	margin: auto
	text-align: center
	h3
		font-size: 24px
		font-family: $t-2
		margin: 0
		color: $negro
		margin-bottom: 15px
	p
		font-size: 16px
		font-family: $t-1
		margin: 0
		line-height: 1.4
	a
		color: $c-1
		font-family: $t-1

.corporativo__tarjeta__right__slider
	margin: 0
	.slick-slider
		padding: 0 20px
		box-sizing: border-box
	.slick-next
		right: 0
	.slick-next:before
		content: "\e926"
		font-family: 'icomoon'
		color: $negro
	.slick-prev
		left: 0
	.slick-prev:before
		content: "\e927"
		font-family: 'icomoon'
		color: $negro

.corporativo__tarjeta__right__item
	margin: 0 20px

.corporativo__tarjeta__right__image
	width: 107px
	height: 94px
	margin: auto
	margin-top: 25px

.corporativo__tarjeta__right__info
	text-align: center
	margin-top: 15px

.corporativo__tarjeta__right__info__title
	margin-bottom: 10px
	h3
		font-size: 16px
		font-family: $t-3
		color: $negro
		margin: 0

.corporativo__tarjeta__right__info__text
	font-size: 16px
	font-family: $t-1
	color: $c-4
	line-height: 1.4
	p 
		margin: 0

@media screen and (max-width: 1024px)
	.corporativo__tarjeta__wrap
		padding: 50px 0

	.corporativo__tarjeta__table
		flex-direction: row

	.corporativo__tarjeta__left
		width: 100%
		margin-top: 30px

	.corporativo__tarjeta__right
		width: 100%
		padding-left: 0

	.corporativo__tarjeta__right__slider
		max-width: 100%

	.corporativo__tarjeta__img
		height: 300px

	.corporativo__tarjeta__img__image
		max-width: 400px
		width: 100%
		margin: auto
		img
			width: 100%
			height: auto
			display: block



@media screen and (max-width: 767px)
	.corporativo__tarjeta__container
		padding: 0 15px 

	.corporativo__tarjeta__wrap
		padding: 40px 0

	.corporativo__tarjeta__right__item
		margin: 0 10px

// informacion tarjeta
.informacion__tarjeta__slider
	background: #F2F2F2
	// padding: 20px 0

.informacion__tarjeta__slider__container
	display: flex
	align-items: center
	flex-wrap: wrap
	position: relative
	overflow: hidden

.informacion__tarjeta__title
	display: inline-block
	width: 380px
	position: relative
	left: 8%
	h3
		font-size: 24px
		font-family: $t-2
		color: $negro
		margin: 0

.informacion__tarjeta__slider__slider
	width: calc(100% - 380px)
	display: inline-block
	position: relative
	right: -9%

.informacion__tarjeta__slider__item
	display: block
	margin: 0 10px
	img
		display: block
		width: 100%
		height: auto

.informacion__tarjeta__slider__slider
	overflow: hidden

@media screen and (max-width: 1400px)
	.informacion__tarjeta__slider__container
		padding: 0 20px
		box-sizing: border-box

	.informacion__tarjeta__title
		left: inherit

	.informacion__tarjeta__slider__slider
		right: inherit
		padding-left: 20px
		box-sizing: border-box

@media screen and (max-width: 1024px)
	.informacion__tarjeta__slider
		// padding: 50px 0
		padding-bottom: 20px
	
	.informacion__tarjeta__title
		width: 100%
		text-align: center
		padding-top: 25px
		padding-bottom: 20px
		// margin-bottom: 25px

	.informacion__tarjeta__slider__slider
		width: 100%
		padding-left: 0

// dudas
.informacion__tarjeta__dudas
	padding-top: 42px
	padding-bottom: 40px

.informacion__tarjeta__dudas__container
	// max-width: 1400px
	max-width: 1920px
	padding: 0 20px 0 0
	box-sizing: border-box
	display: flex
	flex-wrap: wrap


// boton solicita
.informacion__tarjeta__button-content
	position: absolute
	right: 63px
	top: 35%
	z-index: 1
.informacion__tarjeta--btn-movil
	display: none
.informacion__tarjeta--color
	background: $c-1
	color: $blanco	
//  aqui inicia
.informacion__tarjeta--circle
	width: 121px
	height: 121px
	background: linear-gradient(90deg, #404041, #231f20)
	border-radius: 70px
	text-align: center
	box-sizing: border-box
	position: absolute
	&:before, &:after
		content: ""
		display: block		
		width: 150%
		height: 150%
		border: 1px solid #f2f2f2
		box-sizing: border-box
		border-radius: 50%
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)
		animation: efecto_pulse_play 1.9s cubic-bezier(.25,.9,.2,1) 0.6s infinite		
	&:after
		animation: efecto_pulse_play 1.9s cubic-bezier(.25,.9,.2,1) 0s infinite
.informacion__tarjeta--text
	display: block
	line-height: 1
	color: $blanco
	font-family: $t-2
	font-size: 15px
	text-align: center
	position: absolute
	top: 38px
	left: 0
	right: 0
	margin: auto
	width: 65px
// aqui termina

.informacion__tarjeta__dudas__image
	width: 41%
	position: relative
.informacion__tarjeta__dudas__image__img
	width: 100%
	height: 520px
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

.informacion__tarjeta__dudas__acordion
	// width: 59%
	width: 48%
	padding-left: 8%
	box-sizing: border-box
	padding-top: 30px
	padding-bottom: 20px

.informacion__tarjeta__dudas__acordion__title
	margin-bottom: 30px
	h3
		font-size: 24px
		color: $negro
		font-family: $t-2
		margin: 0

.informacion__tarjeta__dudas__icon
	display: block
	position: absolute
	top: 20px
	right: 30px
	font-size: 16px
	color: $c-4
	transition: all .25s ease-in-out

.informacion__tarjeta__dudas__acordion__item
	margin-bottom: 20px

.informacion__tarjeta__dudas__acordion__item:last-child
	margin-bottom: 0

.informacion__tarjeta__dudas__item__title
	position: relative
	border-bottom: 1px solid $c-4
	display: table-cell
	vertical-align: middle
	padding: 10px 0
	height: 55px
	width: 2000px
	padding-right: 70px
	box-sizing: border-box
	cursor: pointer
	transition: all .25s ease-in-out
	h3
		font-size: 18px
		font-family: $t-2
		color: $c-4
		margin: 0
		line-height: 1.2

.informacion__tarjeta__dudas__item__content
	font-family: $t-1
	font-size: 16px
	color: $c-4
	padding: 20px 20px 10px 0
	line-height: 1.4
	p 
		margin: 0

.informacion__tarjeta__dudas__item__title.active
	border-bottom: 1px solid $c-1
	h3
		color: $c-1
	.informacion__tarjeta__dudas__icon
		transform: rotate(-180deg)
		color: $c-1

.informacion__tarjeta__dudas__item__content
	display: none	

.informacion__tarjeta__dudas__item__content.active
	display: block


@media screen and (max-width: 960px)
	.informacion__tarjeta__dudas__container
		padding: 0 20px

	.informacion__tarjeta__dudas__image
		display: none

	.informacion__tarjeta__dudas__acordion
		width: 100%
		padding-left: 0
		padding: 0

	.informacion__tarjeta__dudas
		padding: 50px 0

	.informacion__tarjeta__dudas__acordion__title
		text-align: center
	.informacion__tarjeta--btn-movil
		display: block
		margin: 0 auto
		padding-top: 30px
@media screen and (max-width: 767px)
	.informacion__tarjeta__dudas
		padding: 40px 0

	.informacion__tarjeta__dudas__item__title h3
		font-size: 16px

	.informacion__tarjeta__dudas__item__content
		font-size: 15px

.informacion__block__link
	background: $c-0
	padding: 12px 0

.informacion__block__link__container
	display: flex
	align-items: center
	justify-content: center
	max-width: 980px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box

.informacion__block__link__left
	width: calc(100% - 200px)
	display: flex
	align-items: center

.informacion__block__link__img__card
	max-width: 110px

.informacion__block__link__text
	color: $blanco
	padding: 0 30px
	box-sizing: border-box
	line-height: 1.3
	p
		margin: 0

.informacion__block__link__button
	width: 200px 
	.btn-general
		border: 1px solid $blanco

@media screen and (max-width: 640px)
	.informacion__block__link
		padding: 30px 0

	.informacion__block__link__container
		padding: 0 15px

	.informacion__block__link__container
		flex-wrap: wrap

	.informacion__block__link__left
		width: 100%

	.informacion__block__link__text
		padding-right: 0

	.informacion__block__link__button
		width: 100%
		text-align: center
		margin-top: 20px
	.corporativo__tarjeta__wrap
		padding-top: 0
@media screen and (max-width: 480px)
	.informacion__block__link__container
		text-align: center

	.informacion__block__link__img__card
		display: none

	.informacion__block__link__text
		padding-left: 0