.b42
	padding-top: 60px
	padding-bottom: 115px

.b42Main
	max-width: 900px
	width: 95%
	margin: auto

.b42__title
	text-align: center
	margin-bottom: 50px
	h2
		font-size: 35px

.b42Subtitle
	margin-bottom: 30px
	h3
		color: $c-4
		font-family: $t-2
		font-size: 18px
		text-transform: uppercase
		border-bottom: 1px solid $c-4
		padding: 0 3px
		padding-bottom: 6px
		margin-bottom: 0

.b42BoxItem
	margin-bottom: 50px
	&:last-child
		margin-bottom: 0

.b42Campos
	li
		margin-bottom: 15px
	li:last-child
		margin-bottom: 0

.b42InputTwo
	font-size: 0
	.g-input
		display: inline-block
		vertical-align: top
		width: 50%
		box-sizing: border-box
		&:nth-child(1)
			padding-right: 9px
		&:nth-child(2)
			padding-left: 9px

.b42Foot
	margin-top: 20px

.b42Text
	line-height: 1.4
	color: $c-4
	font-family: $t-0
	font-size: 14px
	margin-bottom: 60px
	p
		position: relative
		padding-left: 50px
		margin-bottom: 0
	p:first-child
		padding-left: 73px
	strong
		font-family: $t-2
		font-weight: normal
		position: absolute
		top: 0
		left: 0

.b42CntBtns
	max-width: 360px
	width: 100%
	margin: auto
	overflow: hidden

.b42BtnItem
	float: right
	&:first-child
		float: left
	.btn-filtro
		padding-left: 40px
		padding-right: 40px


// responsive
@media screen and (max-width: 1024px)
	.b42
		padding: 50px 0

	.b42Title, .b42Text
		margin-bottom: 50px
		
	.b42 .g-title
		margin-bottom: 50px

	.b42__title
		text-align: center
		margin-bottom: 40px
		h2
			font-size: 30px

@media screen and (max-width: 640px)
	.b42
		padding: 30px 0
		
	.b42 .g-title
		margin-bottom: 30px

	.b42Title, .b42Text
		margin-bottom: 30px

	.b42Title
		h2
			font-size: 23px
			padding-right: 0
		h2:before
			display: none

	.b42BoxItem
		margin-bottom: 30px

	.b42Subtitle
		margin-bottom: 20px
		h3
			font-size: 16px

	.b42Text
		text-align: center
		p
			padding-left: 0
			margin-top: 10px
		p:first-child
			padding-left: 0
			margin-top: 0
		strong
			display: block
			position: static

	.b42__title
		h2
			font-size: 25px


@media screen and (max-width: 480px)
	.b42Campos
		li
			margin-bottom: 10px

	.b42InputTwo
		.g-input
			display: block
			width: 100%
			&:nth-child(1), &:nth-child(2)
				padding: 0
			&:nth-child(1)
				margin-bottom: 10px



.g-input
	input, select, textarea
		border: 1px solid  #b7b7b7
		height: 40px
		border-radius: 7px
		width: 100%
		padding: 0 15px 
		box-sizing: border-box
		font-size: 14px
		font-family: $t-0
		color: #b7b7b7
		background-color: transparent
	textarea
		height: 100px
		padding-top: 10px
		line-height: 1.1
	select
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		cursor: pointer
		z-index: 2
		position: relative
		&::-ms-expand
			display: none
	&.g-select
		position: relative
		&:after
			content: '\e608'
			font-family: icomoon
			font-size: 30px
			font-weight: normal
			display: block
			position: absolute
			line-height: 40px
			right: 10px
			color: $c-4
			top: 0
			bottom: 0
			margin: auto
			pointer-events: none
	.formErrorContent
		background: c-1
		color: blanco
		border: 0
		box-shadow: none
		opacity: 1
	.formErrorArrow
		display: none

