.preguntas__frecuentes
	padding-top: 35px
	padding-bottom: 45px

.preguntas__frecuentes__container
	max-width: 1200px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.preguntas__frecuentes__title
	margin-bottom: 40px
	position: relative
	text-align: center
	h3
		font-size: 24px
		font-family: $t-2
		color: $c-1
		margin: 0

.acordion__item__icon
	display: block
	position: absolute
	top: 20px
	right: 30px
	font-size: 16px
	color: $c-4
	transition: all .25s ease-in-out

.acordion__item
	margin-bottom: 20px

.preguntas__frecuentes__acordion__item__title
	position: relative
	border-bottom: 1px solid $c-4
	display: table-cell
	vertical-align: middle
	padding 10px 0
	height: 55px
	width: 2000px
	padding: 10px 0
	padding-right: 70px
	box-sizing: border-box
	cursor: pointer
	transition: all .25s ease-in-out
	h3
		font-size: 18px
		font-family: $t-2
		color: $c-4
		margin: 0
		line-height: 1.2

.preguntas__frecuentes__acordion__content
	font-family: $t-1
	font-size: 16px
	color: $c-4
	padding: 20px 20px 10px 0
	line-height: 1.4
	p 
		margin: 0

.preguntas__frecuentes__acordion__item__title.active
	border-bottom: 1px solid $c-0
	h3
		color: $c-0
	.acordion__item__icon
		transform: rotate(-180deg)
		color: $c-0

.preguntas__frecuentes__acordion__content
	display: none	

.preguntas__frecuentes__acordion__content.active
	display: block	


@media screen and (max-width: 1024px)
	.preguntas__frecuentes
		padding: 50px 0

@media screen and (max-width: 767px)
	.preguntas__frecuentes__container
		padding: 0 15px

	.preguntas__frecuentes
		padding: 63px 0 40px 0

	.acordion__item__icon
		right: 10px

	.preguntas__frecuentes__acordion__item__title
		padding-right: 45px

	.preguntas__frecuentes__acordion__item__title h3
		font-size: 16px

	.preguntas__frecuentes__acordion__content
		font-size: 15px

	.preguntas__frecuentes__acordion__content
		padding: 20px 0
