.terminos__condiciones
	padding-top: 35px
	padding-bottom: 45px

.terminos__condiciones__container
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box

.terminos__condiciones__title
	margin-bottom: 40px
	position: relative
	text-align: center
	h3
		font-size: 24px
		font-family: $t-2
		color: $c-1
		margin: 0

.terminos__condiciones__text
	font-size: 16px
	color: $c-4
	font-family: $t-1
	line-height: 1.3
	margin-bottom: 30px
	p 
		margin: 0

.terminos__condiciones__item
	margin-bottom: 25px
	&:last-child
		margin-bottom: 0

.terminos__condiciones__item__title
	h4
		font-size: 16px
		font-family: $t-3
		color: $c-0
		margin: 0
		margin-bottom: 20px

.terminos__condiciones__item__text
	font-size: 16px
	color: $c-4
	font-family: $t-1
	line-height: 1.3
	p
		margin: 0

@media screen and (max-width: 1024px)
	.terminos__condiciones
		padding-top: 50px
		padding-bottom: 50px

@media screen and (max-width: 767px)
	.terminos__condiciones
		padding-top: 40px
		padding-bottom: 40px

	// .terminos__condiciones__text
	// 	text-align: center
@media screen and (max-width: 575px)
	.terminos__condiciones
		padding-top: 63px
	.terminos__condiciones__title
		margin-bottom: 20px