
<footer class="footer">
  <div class="footer__content">
    <div class="footer__top__box--logo-movil"><a href="#"><img src="./assets/img/img-logo-gp-footer.png" alt=""/></a></div>
    <div class="footer__top">
      <div class="footer__top__box footer__top__box--logo"><a href="#"><img src="./assets/img/img-logo-gp-footer.png" alt=""/></a></div>
      <div class="footer__top__box footer__top__box--mapa-de-sitio">
        <p>MAPA DE SITIO</p>
        <ul class="footer__top__box--enlaces">
          <li><a href="#">Promociones</a></li>
          <li><a href="#">Membresías</a></li>
          <li><a href="#">Internacional</a></li>
          <li><a href="#">Elite</a></li>
          <li><a href="#">Corporativo</a></li>
        </ul>
      </div>
      <div class="footer__top__box footer__top__box--usuarios">
        <p>USUARIOS</p>
        <ul class="footer__top__box--enlaces">
          <li><a href="#">Activa tu código</a></li>
          <li><a href="#">Iniciar sesión</a></li>
          <li><a href="#">Solicita tu membresía</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
      <div class="footer__top__box footer__top__box-content--enlaces">
        <p>ESTABLECIMIENTOS</p>
        <ul class="footer__top__box--enlaces">
          <li><a href="#">Consultar membresía</a></li>
          <li><a href="#">Afilia tu establecimiento</a></li>
          <li><a href="#">Inicia sesión como establecimiento</a></li>
        </ul>
      </div>
      <div class="footer__top__box footer__top__box-content--iconos">
        <ul class="footer__top__box--iconos">
          <li><a class="icon-05" href="#"></a></li>
          <li><a class="icon-04" href="#"></a></li>
          <li><a class="icon-03" href="#"></a></li>
        </ul>
        <div class="footer__top__box--telefono"><a>(511) 512 - 3100</a></div>
        <div class="footer__top__box--reclamaciones">
          <div class="footer__top__box--reclamaciones-img-libro"><a href="#"><img src="./assets/img/libro_reclamaciones.png" alt=""/></a></div>
          <div class="footer__top__box--reclamaciones-parrafo">
            <p><a class="footer__top__box--reclamaciones-enlace" href="#">Libro de reclamaciones</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__top__box-content--iconos-movil">
      <div class="footer__top__box--telefono"><a>(511) 512 - 3100</a></div>
      <div class="footer__top__box--reclamaciones">
        <div class="footer__top__box--reclamaciones-img-libro"><a href="#"><img src="./assets/img/libro_reclamaciones.png" alt=""/></a></div>
        <div class="footer__top__box--reclamaciones-parrafo">
          <p><a class="footer__top__box--reclamaciones-enlace" href="#">Libro de reclamaciones	</a></p>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom__box">
        <p>© 2017  GlobalPass. Todos los derechos reservados.</p>
      </div>
      <div class="footer__bottom__box">
        <p class="footer__bottom--firma-staff">Diseño de páginas web: <a href="https://www.staffdigital.pe/" target="_blank">Staff Digital</a></p>
      </div>
    </div>
  </div>
</footer>