
<div class="header-wrap">
  <div class="header-fixed">
    <div class="header-content">
      <div class="header-logonew"><a class="header-logonew--img" href="#"><img src="./assets/img/img-logo-gp-header.jpg" alt=""/></a></div>
      <div class="header-nav header-nav-top">
        <div class="header-nav__top">
          <div class="header-nav__top__left">
            <div class="header-nav--icono-lupa icon-09"></div>
            <input class="header-input validate[required]" type="" name="" placeholder="Buscar el descuento ideal"/>
          </div>
          <div class="header-nav__top__right">
            <ul>
              <li>Nº DE USUARIOS <strong>5872</strong></li>
              <li> <a class="header-nav--enlace-solicita" href="#">SOLICITA TU MEMBRESÍA</a></li>
              <li> <a class="header-nav--enlace-iniciar-sesion" href="#">INICIAR SESIÓN</a></li>
              <li class="header__nav__session"><a class="header-nav--enlace-iniciar-sesion--perfil" href="#">HOLA, YOSWA</a>
                <ul class="header__nav__session__menu">
                  <li><a href="">VER PERFIL</a></li>
                  <li><a href="">CERRAR SESIÓN</a></li>
                </ul>
              </li>
              <li> <a class="btn-blue header-btn-activa" href="">ACTIVA TU CÓDIGO</a></li>
            </ul>
          </div>
        </div>
        <div class="header-nav__bottom">
          <div class="header-nav__bottom__left">
            <ul>
              <li class="header-enlace--nav-bottom header__enlace__hover__submenu"><a class="header__menu__link" href="#">PROMOCIONES</a>
                <ul class="header__submenu">
                  <li><a href="">CATEGORIA 1</a></li>
                  <li><a href="">CATEGORIA 2</a></li>
                  <li><a href="">CATEGORIA 3</a></li>
                  <li><a href="">CATEGORIA 4</a></li>
                  <li><a href="">CATEGORIA 5</a></li>
                  <li><a href="">CATEGORIA 6</a></li>
                </ul>
              </li>
              <li class="header-enlace--nav-bottom"><a href="#">INTERNACIONAL</a></li>
              <li class="header-enlace--nav-bottom"><a href="#">ELITE</a></li>
              <li class="header-enlace--nav-bottom"><a href="#">CORPORATIVO</a></li>
              <li class="header-enlace--nav-bottom"><a href="#">CONTACTO</a></li>
              <li class="header-enlace--nav-bottom"><a href="#">AFILIA TU ESTABLECIMIENTO</a></li>
            </ul>
          </div>
          <div class="header-nav__bottom__right"><a href="#"> 
              <div class="header-nav--icono-face icon-05"></div></a><a href="#"> 
              <div class="header-nav--icono-face icon-04"></div></a><a href="#"> 
              <div class="header-nav--icono-face icon-03"></div></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header__submenu__overlay"></div>
<div class="menu-mobile-open icon-menu"></div>
<div class="menu-mobile-close icon-close"></div>
<div class="header-menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt">
    <div class="header-logo-content-movil">
      <div class="header-logonew"><a class="header-logonew--img" href="#"><img src="./assets/img/img-logo-gp-header.jpg" alt=""/></a></div>
      <div class="header__iniciar-sesion-movil"><a class="header-nav--enlace-iniciar-sesion" href="#">INICIAR SESIÓN</a>
        <div class="header__iniciar-sesion-user--wrap"><a class="header-nav--enlace-iniciar-sesion--user" href="#">HOLA, YOSWA</a><a class="header--session--salir-last" href="">SALIR</a></div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav__top">
        <div class="header-nav__top__left">
          <div class="header-nav--icono-lupa icon-09"></div>
          <input class="header-input validate[required]" type="" name="" placeholder="Buscar el descuento ideal"/>
        </div>
      </div>
      <div class="header-nav__bottom">
        <ul class="header-nav--ul-movil">
          <li class="header-enlace--nav-bottom"><a class="header__submenu__acordion" href="#">PROMOCIONES</a>
            <ul class="header__submenu__resp header__submenu__resp__content">
              <li><a href="">CATEGORIA 1</a></li>
              <li><a href="">CATEGORIA 2</a></li>
              <li><a href="">CATEGORIA 3</a></li>
              <li><a href="">CATEGORIA 4</a></li>
              <li><a href="">CATEGORIA 5</a></li>
              <li><a href="">CATEGORIA 6</a></li>
            </ul>
          </li>
          <li class="header-enlace--nav-bottom"><a href="#">INTERNACIONAL</a></li>
          <li class="header-enlace--nav-bottom"><a href="#">ELITE</a></li>
          <li class="header-enlace--nav-bottom"><a href="#">CORPORATIVO</a></li>
          <li class="header-enlace--nav-bottom"><a href="#">CONTACTO</a></li>
          <li class="header-enlace--nav-bottom"><a href="#">AFILIA TU ESTABLECIMIENTO</a></li>
        </ul>
        <ul class="header-nav--ul2-movil">
          <li>Nº DE USUARIOS <strong>5872</strong></li>
          <li> <a class="header-nav--enlace-solicita" href="#">SOLICITA TU MEMBRESÍA</a></li>
          <li> <a class="btn-blue header-btn-activa" href="">ACTIVA TU CÓDIGO</a></li>
          <li> <a href="#"> 
              <div class="header-nav--icono-face icon-05"></div></a><a href="#"> 
              <div class="header-nav--icono-face icon-04"></div></a><a href="#"> 
              <div class="header-nav--icono-face icon-03"></div></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>