extends ./_common/base.pug
//- btn
block content
	.box-message--alert
		span.box-message__content.box-message--green
			.box-message--ico1
			.box-message ¡El código de la tarjeta es válido!
	.box-message--alert
		span.box-message__content.box-message--red
			.box-message--ico2
			.box-message ¡El código de la tarjeta es inválido!
		