extends ./_common/base.pug
//- btn
block content


	a.btn.btn-white(href='') registrate
	a.btn-orange.btn-filtro(href='') buscar
	a.btn-forward.btn-blue.btn-forward--hover(href='') ingresar
		.btn--before
	a.btn-forward.btn-orange.btn-forward--hover.btn--padding-left(href='') volver
		.btn--after-buscar
	a.btn-general.btn-white.btn-general--before--hover.btn-general--padding-right(href='') nuevo
		.btn-general--before
	a.btn-general.btn-white.btn-general--after--hover.btn-general--padding-left(href='') nuevo
		.btn-general--after
	a.btn-general.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') nuevo
		.btn-general--before
	a.btn-general.btn-blue.hvr-grow-shadow(href='#') Grow Shadow
	a.btn-general.btn-blue.btn-general--before--hover-box-blue.btn-general--padding-right(href='') nuevo
		.btn-general--before

