extends ./_common/base.pug
append css
	link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
block content

	.drawing-container#drawing-container
		//- .drawing-container__item(style=`background-image: url(../${STATIC_URL}img/a.png)`)
		//- .drawing-container__move#rrr

append scripts
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src=`../${STATIC_URL}js/drawing.js`)
	script.
		$(() => {
			drawing.init({
				container: $('#drawing-container'),
				imgLeft: '../assets/img/AZUL.jpg',
				imgRight: '../assets/img/NEGRO.jpg',
				drag: $('.drawing-container__move'),
			})
		})