extends ./_common/base.pug
//- form-generales
block content
	section(style="width:1000px")
		form
			.titulo-form 
				p
					| Mi cuenta
					strong
						| Ingrese aquí el código enviado junto a su tarjeta. 
			.input-one-content
				label.input-one__label Dirección de correo electrónico*
				input.input-one(name='', type='', placeholder='')
				span.input-one--span
			.input-one-content
				a.input-one__label2 Nombres*
				input.input-three(name='', type='', placeholder='Yoswa María')
				span.input-one--span
			.input-checkbox
				ul
					li
						.input-checkbox
							ul
								li.general__input.general__input--check--radio.general__input--checkbox
									.general__input__inside
										input#check1(type='checkbox')
										label.general__input--check--radio--label(for='check1')
											.general__input__inside__container
												.general__input__figure
					li Guardar mis datos
					li ¿Haz olvidado tu contraseña?
			a.btn.btn-blue.btn-margin-top.btn-margin-right( href='') ingresar
			a.btn.btn-white.btn-margin-top( href='') registrate

