extends ./_common/base.pug
//- input
block content
	//- section(style="width:1000px")
	section
		form
			.input-one-content
				label.input-one__label Dirección de correo electrónico*
				input.input-one(name='', type='', placeholder='')
				span.input-one--span
			.input-one-content
				label.input-two__label Escribe tu código
				input.input-two(name='', type='', placeholder='')
				span
					a.input-two__btn-span.btn-blue.btn-general--before--hover-ico.btn-general--padding-right(href='') ingresar
						.btn-general--before
			.input-one-content
				p.input-three__p Nombres*
				input.input-three(name='', type='', placeholder='Yoswa María')
				span.input-one--span
			.input-select.n-12
				//- .r-input.r-select
				.r-input
					select(name='')
						option(value='') select1
						option(value='1') DNI
						option(value='2') Pasaporte
						option(value='3') Otro
