extends ./_common/base.pug
//- btn
block content

	div
		a.promociones__item(href="#")
			.promociones__item__image(style=`background-image: url('../${STATIC_URL}img/promociones-item.jpg')`)
			.promociones__item__content
				//- .promociones__item__discount--text
				//- .promociones__item__discount--offer
				.promociones__item__discount.promociones__item__discount--percentage
					.promociones__item__discount__logo
						img(src=`../${STATIC_URL}img/item-logo.png`, alt="")
					.promociones__item__discount__promo 35%
				.promociones__item__info
					.promociones__item__title
						h3 Posadas del inca Yucay
					.promociones__item__text
						p 30% de Descuento  en el Almuerzo Buffet Criollo Marino cena Peruana a la Carta.
					.promociones__item__button
						span.btn-enlace.btn-orange LIMA - PERÚ