// BUTTONS
// modificadores buttons home	//
.button__promocion-home
	padding: 5px 30px
	border-radius: 45px
	transition: all 0.3s
	@media screen and (min-width: 1025px)
		&:hover
			background-color: #ff7300
.button__buscar-home
	padding: 15px 30px 13px 45px
	margin-left: 0
	border-radius: 45px
	transition: all 0.3s
	@media screen and (min-width: 1025px)
		&:hover
			background-color: #ff7300
.button__content-home
	padding-top: 20px
	font-size: 12px

// fin modificadores buttons home	// 
.link-reset
	text-decoration: none
	color: #58595b
	font-weight: normal
	font-family: $t-1
	font-size: 14px
.btn-general
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	display: inline-block
	vertical-align: middle
	transition-property: background-color
	transition-duration: 0.3s
	padding: 18px 30px
.btn-general--padding-left
	padding-left: 40px
.btn-general--padding-right
	padding-right: 40px
.btn-general--before
	position: relative
	transition-property: transform
	transition-duration: 0.3s;
	&:before
		content: '\e926'
		display: block
		font-size: 10px
		font-family: $icomoon
		position: absolute
		right: -17px
		margin-top: -12px
		padding: 0px 1px
.btn-general--before--hover
	transition-property: transform
	transition: all 0.3s
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-1
			border: solid 1px $c-1
			color: $blanco
			.btn-general--before
				&:before
					animation: 1s ico-be infinite
.btn-general--before--hover-box-blue
	transition-property: transform
	transition: all 0.3s
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $blanco
			border: solid 1px $c-0
			color: $c-0
			.btn-general--before
				&:before
					animation: 1s ico-be infinite
.btn-general--before--hover-ico
	transition-property: transform
	transition: all 0.3s
	@media screen and (min-width: 1025px)
		&:hover
			.btn-general--before
				&:before
					animation: 1s ico-be infinite

@keyframes ico-be
	0%
		right: -17px
	50%
		right: -22px
	100%
		right: -17px

.btn-general--after
	position: relative
	transition-property: transform
	transition-duration: 0.3s;
	&:after
		content: '\e927'
		font-size: 10px
		font-family: $icomoon
		position: absolute
		left: -17px
		margin-top: -12px
		padding: 0px 1px
.btn-general--after--hover
	transition-property: transform
	transition: all 0.3s
	@media screen and (min-width: 1025px)
		&:hover
			background-color: $c-1
			border: solid 1px $c-1
			color: $blanco
			.btn-general--after
				&:after
					animation: 1s icoaf infinite

@keyframes icoaf
	0%
		left: -17px
	50%
		left: -22px
	100%
		left: -17px

// -----------------

.hvr-grow-shadow
	display: inline-block
	vertical-align: middle
	transform: perspective(1px) translateZ(0)
	box-shadow: 0 0 1px transparent
	transition-duration: 0.3s
	transition-property: box-shadow, transform
.hvr-grow-shadow
	@media screen and (min-width: 1025px)
		&:hover, &:focus, &:active
			box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)
			transform: scale(1.1)

// -----------------
.btn
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	display: inline-block
	vertical-align: middle
	padding: 18px 30px 18px 30px
	transition-duration: 0.3s
	transition-property: background-color
.btn-forward
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 30px
	display: inline-block
	vertical-align: middle
	padding: 18px 45px 18px 30px
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	transition-duration: 0.3s;
.btn-black
	background-color: #231f20
	color: $blanco
.btn-blue
	background-color: $c-0
	color: $blanco
	border: solid 1px $c-0
.btn-white
	border: solid 1px #858789
	border-radius: 50px
	background-color: $blanco
	color: #858789
.btn-orange
	border: solid 1px $c-1
	background-color: $c-1
	color: $blanco
.btn--padding-left
	padding: 18px 30px 18px 45px
	box-sizing: border-box
.btn-filtro
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 4px
	display: inline-block
	vertical-align: middle
	padding:  14px 15px 14px 15px
	transition-duration: 0.3s
.btn-filtro:hover
	background-color: #ff7300
	color: $blanco
	border-color:  #ff7300

.btn--before
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.1s
	&:before
		content: '\e90f'
		font-size: 10px
		font-family: $icomoon
		position: absolute
		right: -20px
		margin-top: -12px
		padding: 0px 1px
	
.btn--after
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.1s
	&:after
		content: '\e90f'
		font-size: 10px
		font-family: $icomoon
		position: absolute
		left: -20px
		margin-top: -12px
		padding: 0px 1px
		transform: rotate(270deg)
	
.btn--after-buscar
	transform: perspective(1px) translateZ(0)
	position: relative
	transition-duration: 0.1s
	&:after
		content: '\e902'
		font-size: 10px
		font-family: $icomoon
		position: absolute
		left: -20px
		margin-top: -12px
		padding: 0px 1px
		
@media screen and (min-width: 1025px)
	.btn-forward--hover
		&:hover, &:focus, &:active
			transform: translateX(8px)
	.btn:hover	
		&.btn-blue
			background-color: $blanco
			color: $c-0
	.btn:hover	
		&.btn-white
			background-color: $c-1
			border: solid 1px $c-1
			color: $blanco
	.btn:hover	
		&.btn-orange
			background-color: $blanco
			color: $c-1
@media screen and (max-width: 575px)
	.btn
		display: block
@media screen and (max-width: 375px)
	.btn-general
		padding: 18px 20px
	.btn-general--padding-left
		padding-left: 30px
	.btn-general--padding-right
		padding-right: 30px