// input
.input-one-content
	position: relative
	font-family: $t-1
	&.active
		.input-one__label
			top: -8px
.input-one
	box-sizing: border-box
	width: 100%
	border: none	
	height: 41px
	padding-left: 24px
	padding-right: 24px
	color: #b7b7b7
	font-size: 14px
.input-one-content:hover .input-one__label, &.active .input-one__label
	top: -8px
.input--margin-top
	margin-top: 25px
.input-one__label
	color: #b7b7b7
	font-size: 15px
	top: 15px
	position: absolute
	padding-left: 10px
	transition: all .3s
	pointer: text
.input-one--span
	left: 0
	bottom: 0
	height: 1px
	width: 90%
	position: absolute
	border-bottom: solid 1px #b7b7b7
.input-one--span2
	left: 0
	bottom: 0
	height: 1px
	width: 100%
	position: absolute
	border-bottom: solid 1px #b7b7b7
// .input-two__group
// 	position: relative
// 	width: 100%
// 	height: auto
.input-two__label
	color: #b7b7b7
	font-size: 15px
	top: 15px
	left: 20px
	position: absolute
	padding-left: 10px
	transition: all .3s
	pointer: text
.input-two__btn-span
	font-size: 13px
	font-family: $t-2
	text-transform: uppercase
	border-radius: 0 30px 30px 0
	display: inline-block
	vertical-align: middle
	padding: 17px 50px 17px 30px
	position: absolute
	top: 0px
	right: 0
input::placeholder
	color: #b7b7b7
	font-size: 16px
.input-one-content--padding-bottom
		padding-bottom: 20px
.input-two
	box-sizing: border-box
	// width: 351px
	width: 100%
	border: none	
	height: 50px
	padding-left: 30px
	padding-right: 24px
	color: #b7b7b7
	font-size: 14px
	background-color: #f9f9f9
	border-radius: 35px
.input-three
	box-sizing: border-box
	width: 100%
	border: none	
	height: 41px
	padding-left: 9px
	padding-right: 24px
	color: #b7b7b7
	font-size: 14px

// checkbox inicio
.general__input--check--radio
	input[type="checkbox"], input[type="radio"]
		display: none

.general__input--check--radio--label
	display: inline-block

.general__input__inside__container
	display: flex
	align-items: center 

.general__input__figure
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0

.general__input__text
	font-size: 14px
	letter-spacing: 1px
	padding-left: 8px
	box-sizing: border-box
	color: $c-0

.general__input--checkbox
	.general__input__figure
		width: 15px
		height: 15px
		&:before
			width: 100%
			height: 100%
			border-radius: 2px
			border: 1px solid $c-0
			box-sizing: border-box
		&:after
			content: "\e925"
			font-family: $icomoon
			top: 50%
			transform: translateY(-50%)
			right: 0
			text-align: center
			margin: auto
			opacity: 0
			visibility: hidden
			font-size: 11px
			font-weight: bold
			transition: all .2s linear
			margin-top: -1px
			color: $c-0

.general__input--check--radio
	input[type="checkbox"]:checked + .general__input--check--radio--label .general__input__figure:after
		opacity: 1
		visibility: visible
// checkbox final

.input-checkbox
	padding-top: 45px
	ul
		color: $c-5
		font-family: $t-2
		font-size: 16px
		li
			display: inline-block
		li:nth-child(2)
			font-weight: bold
			padding-left: 5px
			padding-right: 15px

// select inicio
.input-select.n-12
	width: 100%
.r-input
	position: relative
	display: inline-block
	vertical-align: top
	z-index: 1
	width: 100%
	// /* WebKit
	// /* Firefox 18-
	// /* Firefox 19+
	// /* IE 10+
	::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder
		color: #999
		font-family: 'ProximaNova-Regular', sans-serif
	input, select, textarea
		position: relative
		display: block
		width: 100%
		height: 41px
		line-height: 50px
		border: none
		margin: 0
		background: #fff
		appearance: none
		font-size: 16px
		font-family: 'ProximaNova-Regular', sans-serif
		color: #b7b7b7
		border-bottom: 1px solid #b7b7b7
		padding: 0 18px 0 9px
		box-sizing: border-box
		transition: all 0.1s linear
	input:focus, select:focus, textarea:focus
		border-bottom: 1px solid #b7b7b7
// select final

@media screen and (max-width: 991px)
	.input-one--span
			width: 100%
@media screen and (max-width: 575px)
	.input-two
		padding-left: 25px
		padding-right: 44px
		line-height: 20px
	.input-checkbox
		padding-top: 30px
		text-align: center
		ul
			li:nth-child(3)
				display: block
			li:nth-child(2)
				padding-right: 0px
@media screen and (max-width: 420px)
	.input-two__btn-span
		top: 10px
		border-radius: 30px
		position: relative