// form generales
.titulo-form
	color: #212121
	font-family: $t-2
	font-size: 24px
	max-width: 510px
	width: 100%
	height: auto
	p
		strong
			font-size: 16px
			font-weight: normal
			display: block
			margin-top: 24px
			font-family: $t-1
.titulo2-form
	color: #212121
	font-family: $t-2
	font-size: 24px
	width: 100%
	height: auto
	p
		strong
			font-size: 16px
			font-weight: normal
			display: block
			margin-top: 24px
			font-family: $t-1
.parrafo-form
	font-size: 16px
	font-weight: normal
	display: block
	margin-top: 24px
	font-family: $t-1
	color: $c-5
.btn-margin-top
	margin-top: 45px
.btn-margin-right
	margin-right: 20px

@media screen and (max-width: 991px)
	.titulo-form
		max-width: 100%
@media screen and (max-width: 575px)
	.btn-margin-right
		margin-right: 10px
	.btn-margin-top
		margin-top: 20px
@media screen and (max-width: 375px)
	.btn-margin-right
		margin-right: 0