.box-message--alert
	padding-top: 15px
	padding-bottom: 10px
.box-message__content
	font-weight: normal
	font-family: $t-1
	font-size: 18px
	color: $c-3
	display: flex
	flex-wrap: nowrap
.box-message--ico1:before
	content: "\e914"
	font-family: icomoon 
	font-weight: normal
	padding-right: 8px
.box-message
	width: auto
	// float: left
	text-align: left
.box-message--ico2
	display: inline-block
	vertical-align: top
.box-message--ico2:before
	content: "\e924"
	font-family: icomoon 
	font-weight: normal
	padding-right: 5px
	text-align: center
.box-message--red
	color: $c-2
.box-message--green
	color: $c-3
@media screen and (max-width: 991px)
	.box-message__content
		justify-content: center