+keyframes(efecto_pulse_play)
	0%
		transform: translate3d(-50%,-50%,0)scale(1)
		opacity: 1
	100%
		transform: translate3d(-50%,-50%,0)scale(1.7)
		opacity: 0
.drawing-container
	width: 100%
	position: relative
	height: 650px
.drawing-container__move
	position: absolute
	top: 0
	bottom: 0
	left: 0
	margin: auto
	cursor: pointer
	width: 100%
	height: 100%
	background: none
	border: none !important
	overflow: hidden
	.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min
		height: 100%
		overflow: hidden
		// background-image: url("../img/b.png")
		// +backgroundsize()
	.ui-slider-handle.ui-corner-all.ui-state-default
		height: 50px
		background: $blanco
		border-radius: 50%
		width: 50px
		top: 0px
		bottom: 0
		margin-left: -25px
		cursor: pointer
		&:before, &:after
			content: ""
			display: block		
			width: 100%
			height: 100%
			border: 1px solid $blanco
			box-sizing: border-box
			border-radius: 50%
			position: absolute
			top: 50%
			left: 50%
			transform: translateX(-50%) translateY(-50%)
			animation: efecto_pulse_play 2.6s cubic-bezier(.25,.9,.2,1) 0.4s infinite		
		&:after
			animation: efecto_pulse_play 2.6s cubic-bezier(.25,.9,.2,1) 0s infinite
.drawing-container__item
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-size: cover
	background-position: center center
.drawing-container__move--img-left
	background-size: cover
	background-position: center center