.promociones__item
	display: inline-block
	padding-bottom: 30px
	box-sizing: border-box
	transition: all .25s linear
	border-radius: 15px 15px 0 0
	overflow: hidden

@media screen and (min-width: 1025px)
	.promociones__item:hover
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.14)

.promociones__slider__item
	margin: 0 5px
	padding: 15px 10px 
	box-sizing: border-box

.promociones__item__image
	width: 100%
	height: 165px
	background-position: center center
	background-size: cover 
	background-repeat: no-repeat
	border-radius: 15px 15px 0 0
	overflow: hidden

.promociones__item__info
	text-align: center
	padding: 0 11%

.promociones__item__title
	margin-bottom: 10px
	h3 
		font-size: 18px
		color: $c-4
		font-family: $t-2
		margin: 0

.promociones__item__text
	font-size: 14px
	line-height: 1.2
	p
		margin: 0

.promociones__item__discount
	display: flex
	align-items: center
	justify-content: center
	height: 60px
	margin-top: -30px

.promociones__item__discount__logo
	border: 1px solid #EDEDED
	border-radius: 30px 0 0 30px
	padding: 0 10px 0 30px
	box-sizing: border-box
	height: 100%
	background: $blanco
	img
		display: block
		width: 100%
		height: auto

.promociones__item__discount__promo
	background: $c-2
	border: 1px solid $c-2
	color: $blanco
	display: flex
	align-items: center
	height: 100%
	padding: 0 15px 
	box-sizing: border-box
	border-radius: 0 30px 30px 0
	font-size: 22px
	font-family: $t-3

.promociones__item__info
	margin-top: 25px

.promociones__item__text
	line-height: 1.3
	p 
		margin: 0
		color: #858789

.promociones__item__button
	margin-top: 15px
	.btn-enlace
		width: 138px
		height: 23px
		line-height: 23px
		text-align: center
		padding: 0

.promociones__item__discount--percentage
	.promociones__item__discount__promo
		font-size: 26px

.promociones__item__discount--text
	.promociones__item__discount__promo
		font-size: 22px

.promociones__item__discount--offer
	.promociones__item__discount__promo
		font-size: 26px

@media screen and (max-width: 1024px)
	.promocion__descuentos__wrap
		padding-bottom: 25px
	.promociones__item
		padding-bottom: 0

@media screen and (max-width: 767px)
	.promociones__slider .slick-slider
		padding: 0

	.promociones__slider .slick-prev
		display: none !important

	.promociones__slider .slick-next 
		display: none !important

	.promociones__slider__item
		margin: 0

	.promociones__subtitle
		padding: 0 15px

	.promociones__subtitle
		padding: 0

	.promociones__subtitle
		text-align: center
		h3
			font-size: 20px